/* -------------------------------- 

xBasic style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: none;
}

b {
	font-weight: 700;
}

img {
	max-width: 100%;
}

input, textarea, select {
	font-family: $primary-font;
	font-size: 1.6rem;
}

header {
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 1px 1px rgba(#000, .1);
	z-index: 10;

	nav {
		display: inline-block;
	}

	@include MQ(M) {
		height: 80px;
		@include clearfix;
	}
}

.cd-logo {
	display: inline-block;
	height: 100%;
	position: relative;

	img {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}

	@include MQ(L) {
		margin-left: 5%;
	}
}

.cd-nav-trigger {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;

	span {
		position: absolute;
		height: 2px;
		width: 20px;
		top: 50%;
		margin-top: -1px;
		left: 50%;
		margin-left: -10px;
		@include transition(background-color .3s .3s);

		&::before, &::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			will-change: transform;
			@include transition(transform .3s .3s);
		}

		&::before {
			@include transform(translateY(-6px));
		}

		&::after {
			@include transform(translateY(6px));
		}
	}

	@include MQ(M) {
		display: none;
	}
}

.cd-main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 50px 0;
	text-align: center;
	@include transform(translateY(-100%));
	@include transition(transform .3s);

	li a {
		display: block;
		font-size: 1.8rem;
		padding: 1em 0;
		border-bottom-width: 1px;
		border-style: solid;
	}

	li:first-of-type a {
		border-top-width: 1px;
	}

	@include MQ(M) {
		position: static;
		display: table;
		@include transform(translateY(0));
		width: auto;
		height: 80px;
		background: transparent;
		padding: 0 1em;
		text-align: left;

		li {
			display: table-cell;
			vertical-align: middle;
			padding: 0 .5em;
		}

		li a {
			display: inline-block;
			font-size: 1.6rem;
			padding: .4em .2em;
			border-bottom: none;
			@include transition(all .2s);
		}

		li:first-of-type a {
			border-top: none;
		}
	}
}

.nav-is-visible {
	.cd-nav-trigger span {

		&::before {
			@include transform(translateY(0) rotate(-45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(45deg));
		}
	}

	.cd-main-nav {
		@include transform(translateY(0));
	}
}

.cd-download {
	position: absolute;
	top: 50px;
	right: 0;
	height: 100%;
	width: 80px;
	background-image: url('../../assets/icon-download.svg');
	background-position: center center;
	background-repeat: no-repeat;
	@include transition(background-color .2s);

	@include MQ(M) {
		top: 0;
	}

	span {
		position: absolute;
		right: 120%;
		top: 50%;
		margin-top: -20px;
		width: 140px;
		height: 40px;
		line-height: 40px;
		white-space: nowrap;
		text-align: center;
		font-size: 1.2rem;
		-webkit-transition: opacity .2s 0s, visibility 0s .2s;
		-moz-transition: opacity .2s 0s, visibility 0s .2s;
		transition: opacity .2s 0s, visibility 0s .2s;

		&::before {
			content: '';
			position: absolute;
			top: 12px;
			left: 100%;
			height: 0;
			width: 0;
			border-width: 8px;
			border-style: solid;
			border-top-color: transparent;
			border-bottom-color: transparent;
			border-right-color: transparent;
		}
	}

	.no-touch &:hover span {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity .2s 0s, visibility 0s 0s;
		-moz-transition: opacity .2s 0s, visibility 0s 0s;
		transition: opacity .2s 0s, visibility 0s 0s;
	}

	@include MQ(M) {
		display: block;

		span {
			opacity: 0;
			visibility: hidden;
		}
	}

	@include MQ(L) {
		right: 5%;
	}
}

main {
	margin: 0 auto;
	padding: 50px 0;

	> h1 {
		text-align: center;

		margin: 3em 0 1em 0;

		@include MQ(M) {
			margin: 3em 0 ;
		}
	}

	@include MQ(M) {
		padding-top: 80px;
	}

	@include MQ(L) {
		max-width: none;
		padding: 120px 0 50px;

		> h1 {
			position: fixed;
			top: 0;
			right: 20%;
			height: 80px;
			line-height: 80px;
			width: 400px;
			margin: 0 0 0 -200px;
			font-size: 2.6rem;
			z-index: 20;
		}
	}
}

section {

	&:nth-of-type(1) h2.headline::before {
		content: '1. ';
	}

	&:nth-of-type(1) h3.headline::before {
		content: '1.1 ';
	}

	&:nth-of-type(2) h3.headline::before {
		content: '1.2 ';
	}

	&:nth-of-type(3) h3.headline::before {
		content: '1.3 ';
	}

	&:nth-of-type(4) .wrapper-touch-icon h2.headline::before {
		content: '2. ';
	}

	&:nth-of-type(5) h2.headline::before {
		content: '3. ';
	}

	&:nth-of-type(5) .color-list:nth-of-type(1) h3::before{
		content: '3.1 ';
	}

	&:nth-of-type(5) .color-list:nth-of-type(2) h3::before{
		content: '3.2 ';
	}

	&:nth-of-type(5) .color-list:nth-of-type(3) h3::before{
		content: '3.3 ';
	}

	&:nth-of-type(5) .color-list:nth-of-type(4) h3::before{
		content: '3.4 ';
	}

	&:nth-of-type(5) .color-list:nth-of-type(5) h3::before{
		content: '3.5 ';
	}

	&:nth-of-type(6) h2.headline::before {
		content: '4. ';
	}

	&:nth-of-type(7) h2.headline::before {
		content: '5. ';
	}

	&:nth-of-type(7) .icons-list:nth-of-type(1) h3::before{
		content: '5.1 ';
	}

	&:nth-of-type(7) .icons-list:nth-of-type(2) h3::before{
		content: '5.2 ';
	}

	&:nth-of-type(7) .icons-list:nth-of-type(3) h3::before{
		content: '5.3 ';
	}

	&:nth-of-type(7) .icons-list:nth-of-type(4) h3::before{
		content: '5.4 ';
	}

	&:nth-of-type(7) .icons-list:nth-of-type(5) h3::before{
		content: '5.5 ';
	}

	&:nth-of-type(8) h2.headline::before {
		content: '6. ';
	}

	&:nth-of-type(8) .icons-list:nth-of-type(1) h3::before{
		content: '6.1 ';
	}

	&:nth-of-type(8) .icons-list:nth-of-type(2) h3::before{
		content: '6.2 ';
	}
}

/* xBranding section - basic style */

.cd-branding {

	.cd-box {
		margin-bottom: 1em;
	}

	img {
		display: block;
		width: 100%;
	}

	@include MQ(S) {
		.cd-box {

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}

.cd-branding-icons {

	ul {

		li {
			display: inline-block;
			margin-right: 1em;

			img {
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
			}
		}

		li:nth-of-type(1) img {
			width: 90px;
			height: 90px;
			border-radius: 1em;
		}

		li:nth-of-type(2) img {
			width: 60px;
			height: 60px;
			border-radius: .6em;
		}

		li:nth-of-type(3) img {
			width: 32px;
			height: 32px;
			border-radius: .4em;
		}

		li:nth-of-type(4) img {
			width: 16px;
			height: 16px;
			border-radius: .2em;
		}
	}
}

/* xColor section - basic style */

.cd-colors {

	li {
		text-align: center;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}

	b {
		display: block;
		padding: .6em 0;
	}

		li {

			&.cd-box-color {

				.cd-color-wrapper {
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;

					&:first-of-type {
							margin-top: 0;
						}

					&:last-of-type {
						margin-bottom: 0;
					}

					.color {

						span {
							position: relative;
							top: 15px;
						}

						padding: 1em 0;

						&::before {
							content: '';
							width: 80px;
							display: block;
							height: 80px;
							border-radius: 80px;
							background-position: center center;
							left: calc(50% - 40px);
							position: relative;
							display: block;
						}

						&.color-1 {

							&:nth-of-type(1) {
								&::before {
									background-color: $color-ocean-darken2;
								}
							}

							&:nth-of-type(2) {
								&::before {
									background-color: $color-ocean-darken1;
								}
							}

							&:nth-of-type(3) {
								&::before {
									background-color: $color-ocean;
								}
							}

							&:nth-of-type(4) {
								&::before {
									background-color: $color-ocean-lighten1;
								}
							}

							&:nth-of-type(5) {
								&::before {
									background-color: $color-ocean-lighten2;
								}
							}

							&:nth-of-type(6) {
								&::before {
									background-color: $color-ocean-lighten3;
								}
							}

							&:nth-of-type(7) {
								&::before {
									background-color: $color-ocean-lighten4;
								}
							}

							&:nth-of-type(8) {
								&::before {
									background-color: $color-ocean-lighten5;
								}
							}
						}

						&.color-2 {

							&:nth-of-type(1) {
								&::before {
									background-color: $color-mint-darken2;
								}
							}

							&:nth-of-type(2) {
								&::before {
									background-color: $color-mint-darken1;
								}
							}

							&:nth-of-type(3) {
								&::before {
									background-color: $color-mint;
								}
							}

							&:nth-of-type(4) {
								&::before {
									background-color: $color-mint-lighten1;
								}
							}

							&:nth-of-type(5) {
								&::before {
									background-color: $color-mint-lighten2;
								}
							}

							&:nth-of-type(6) {
								&::before {
									background-color: $color-mint-lighten3;
								}
							}

							&:nth-of-type(7) {
								&::before {
									background-color: $color-mint-lighten4;
								}
							}

							&:nth-of-type(8) {
								&::before {
									background-color: $color-mint-lighten5;
								}
							}
						}

						&.color-3 {

							&:nth-of-type(1) {
								&::before {
									background-color: $color-coral-darken2;
								}
							}

							&:nth-of-type(2) {
								&::before {
									background-color: $color-coral-darken1;
								}
							}

							&:nth-of-type(3) {
								&::before {
									background-color: $color-coral;
								}
							}

							&:nth-of-type(4) {
								&::before {
									background-color: $color-coral-lighten1;
								}
							}

							&:nth-of-type(5) {
								&::before {
									background-color: $color-coral-lighten2;
								}
							}

							&:nth-of-type(6) {
								&::before {
									background-color: $color-coral-lighten3;
								}
							}

							&:nth-of-type(7) {
								&::before {
									background-color: $color-coral-lighten4;
								}
							}
						}

						&.color-4 {

							&:nth-of-type(1) {

								&::before {
									background-color: $color-white;
									border: 1px solid $color-additional-3;
								}
							}
						}

						&.color-5 {

							&:nth-of-type(1) {
								&::before {
									background-color: $color-additional-1;
								}
							}

							&:nth-of-type(2) {
								&::before {
									background-color: $color-additional-2;
								}
							}

							&:nth-of-type(3) {
								&::before {
									background-color: $color-additional-3;
								}
							}
						}
					}
				}
			}
		}
}

.cd-typography .cd-box,
.cd-icons .cd-box,
.cd-patterns .cd-box{
	padding: 1em;
	background-color: $color-5;

	@include MQ(S) {
		.cd-box {
			padding: 2em;
		}
	} 
}

.cd-branding-icons, .cd-typography {
	background-color: #F5F8FA;
}

.cd-patterns{
	background-color: #FAFBFC;

	.cd-box {
		background-color: #FAFBFC;
	}
}

/* xBrandingLogoWhite section - basic style */


.branding-logo {
	.logo {
		background-color: red;
		-webkit-mask: url(../../assets/branding/logo.svg) no-repeat center;
		mask: url(../../assets/branding/logo.svg) no-repeat center;
	}
}

section {
	padding: 100px 0;

	&:first-of-type {
		padding-top: 50px;
	}
}

/* xTypography section - basic style */

.cd-typography {

	.cd-box {

		.cd-box-wrapper {

			&:first-of-type {
				padding-top: 0;
			}

			&:last-of-type {
				padding-bottom: 0;
			}

			h1 {
				font-size: 36px !important;
				font-weight: 700;

				&::before {
					content: 'H1 - ';
					color: $color-1;
				}
			}

			h2 {
				font-size: 24px !important;
				font-weight: 700;

				&::before {
					content: 'H2 - ';
					color: $color-1;
				}
			}

			h3 {
				font-size: 16px !important;
				font-weight: 700;

				&::before {
					content: 'H3 - ';
					color: $color-1;
				}
			}

			padding: 1em 0;

			h1, h2, h3 {
				margin: 0 0 .4em;
			}

			p {
				margin: 1em 0;

				&.regular {
					font-weight: 400;
				}

				&.bold {
					font-weight: 700;
				}

				&.medium {
					font-weight: 500;
				}

				&.body1 {
					font-size: 16px;
					line-height: 22px;
				}

				&.body2 {
					font-size: 14px;
					line-height: 20px;

				}

				&.body3 {
					font-size: 12px;
					line-height: 18px;
				}
			}
		}
	}
}

/* xIcons section - basic style */

.cd-icons {

	li {
		display: inline-block;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 1em;
	}

	/* general */

	.cd-icon-general-1 {
		background-image: url('../../assets/icons/general/activity.svg');
	}

	.cd-icon-general-2 {
		background-image: url('../../assets/icons/general/alert-circle.svg');
	}

	.cd-icon-general-3 {
		background-image: url('../../assets/icons/general/alert-octagon.svg');
	}

	.cd-icon-general-4 {
		background-image: url('../../assets/icons/general/alert-triangle.svg');
	}

	.cd-icon-general-5 {
		background-image: url('../../assets/icons/general/archive.svg');
	}

	.cd-icon-general-6 {
		background-image: url('../../assets/icons/general/arrow-down.svg');
	}

	.cd-icon-general-7 {
		background-image: url('../../assets/icons/general/arrow-down-circle.svg');
	}

	.cd-icon-general-8 {
		background-image: url('../../assets/icons/general/arrow-left.svg');
	}

	.cd-icon-general-9 {
		background-image: url('../../assets/icons/general/arrow-left-circle.svg');
	}

	.cd-icon-general-10 {
		background-image: url('../../assets/icons/general/arrow-right.svg');
	}

	.cd-icon-general-11 {
		background-image: url('../../assets/icons/general/arrow-right-circle.svg');
	}

	.cd-icon-general-12 {
		background-image: url('../../assets/icons/general/arrow-up.svg');
	}

	.cd-icon-general-13 {
		background-image: url('../../assets/icons/general/arrow-up-circle.svg');
	}

	.cd-icon-general-14 {
		background-image: url('../../assets/icons/general/at-sign.svg');
	}

	.cd-icon-general-15 {
		background-image: url('../../assets/icons/general/award.svg');
	}

	.cd-icon-general-16 {
		background-image: url('../../assets/icons/general/bar-chart.svg');
	}

	.cd-icon-general-17 {
		background-image: url('../../assets/icons/general/bar-chart.svg');
	}

	.cd-icon-general-18 {
		background-image: url('../../assets/icons/general/bell.svg');
	}

	.cd-icon-general-19 {
		background-image: url('../../assets/icons/general/bell-off.svg');
	}

	.cd-icon-general-20 {
		background-image: url('../../assets/icons/general/book.svg');
	}

	.cd-icon-general-21 {
		background-image: url('../../assets/icons/general/book-open.svg');
	}

	.cd-icon-general-22 {
		background-image: url('../../assets/icons/general/bookmark.svg');
	}

	.cd-icon-general-23 {
		background-image: url('../../assets/icons/general/briefcase.svg');
	}

	.cd-icon-general-24 {
		background-image: url('../../assets/icons/general/calendar.svg');
	}

	.cd-icon-general-25 {
		background-image: url('../../assets/icons/general/camera.svg');
	}

	.cd-icon-general-26 {
		background-image: url('../../assets/icons/general/check.svg');
	}

	.cd-icon-general-27 {
		background-image: url('../../assets/icons/general/check-circle.svg');
	}

	.cd-icon-general-28 {
		background-image: url('../../assets/icons/general/check-square.svg');
	}

	.cd-icon-general-29 {
		background-image: url('../../assets/icons/general/chevron-down.svg');
	}

	.cd-icon-general-30 {
		background-image: url('../../assets/icons/general/chevron-left.svg');
	}

	.cd-icon-general-31 {
		background-image: url('../../assets/icons/general/chevrons-right.svg');
	}

	.cd-icon-general-32 {
		background-image: url('../../assets/icons/general/chevrons-up.svg');
	}

	.cd-icon-general-33 {
		background-image: url('../../assets/icons/general/chevrons-down.svg');
	}

	.cd-icon-general-34 {
		background-image: url('../../assets/icons/general/chevrons-left.svg');
	}

	.cd-icon-general-35 {
		background-image: url('../../assets/icons/general/chevrons-right.svg');
	}

	.cd-icon-general-36 {
		background-image: url('../../assets/icons/general/chevrons-up.svg');
	}

	.cd-icon-general-37 {
		background-image: url('../../assets/icons/general/clipboard.svg');
	}

	.cd-icon-general-38 {
		background-image: url('../../assets/icons/general/clock.svg');
	}

	.cd-icon-general-39 {
		background-image: url('../../assets/icons/general/coffee.svg');
	}

	.cd-icon-general-40 {
		background-image: url('../../assets/icons/general/compass.svg');
	}

	.cd-icon-general-41 {
		background-image: url('../../assets/icons/general/company.svg');
	}

	.cd-icon-general-42 {
		background-image: url('../../assets/icons/general/copy.svg');
	}

	.cd-icon-general-43 {
		background-image: url('../../assets/icons/general/download.svg');
	}

	.cd-icon-general-44 {
		background-image: url('../../assets/icons/general/edit.svg');
	}

	.cd-icon-general-45 {
		background-image: url('../../assets/icons/general/edit-2.svg');
	}

	.cd-icon-general-46 {
		background-image: url('../../assets/icons/general/euro.svg');
	}

	.cd-icon-general-47 {
		background-image: url('../../assets/icons/general/external-link.svg');
	}

	.cd-icon-general-48 {
		background-image: url('../../assets/icons/general/eye.svg');
	}

	.cd-icon-general-49 {
		background-image: url('../../assets/icons/general/eye-off.svg');
	}

	.cd-icon-general-50 {
		background-image: url('../../assets/icons/general/file.svg');
	}

	.cd-icon-general-51 {
		background-image: url('../../assets/icons/general/filter.svg');
	}

	.cd-icon-general-52 {
		background-image: url('../../assets/icons/general/flag.svg');
	}

	.cd-icon-general-53 {
		background-image: url('../../assets/icons/general/frown.svg');
	}

	.cd-icon-general-54 {
		background-image: url('../../assets/icons/general/graduation.svg');
	}

	.cd-icon-general-55 {
		background-image: url('../../assets/icons/general/grid.svg');
	}

	.cd-icon-general-56 {
		background-image: url('../../assets/icons/general/hash.svg');
	}

	.cd-icon-general-57 {
		background-image: url('../../assets/icons/general/heart.svg');
	}

	.cd-icon-general-58 {
		background-image: url('../../assets/icons/general/help-circle.svg');
	}

	.cd-icon-general-59 {
		background-image: url('../../assets/icons/general/home.svg');
	}

	.cd-icon-general-50 {
		background-image: url('../../assets/icons/general/image.svg');
	}

	.cd-icon-general-51 {
		background-image: url('../../assets/icons/general/inbox.svg');
	}

	.cd-icon-general-52 {
		background-image: url('../../assets/icons/general/info.svg');
	}

	.cd-icon-general-53 {
		background-image: url('../../assets/icons/general/link.svg');
	}

	.cd-icon-general-54 {
		background-image: url('../../assets/icons/general/list.svg');
	}

	.cd-icon-general-55 {
		background-image: url('../../assets/icons/general/lock.svg');
	}

	.cd-icon-general-56 {
		background-image: url('../../assets/icons/general/log-in.svg');
	}

	.cd-icon-general-57 {
		background-image: url('../../assets/icons/general/log-out.svg');
	}

	.cd-icon-general-58 {
		background-image: url('../../assets/icons/general/mail.svg');
	}

	.cd-icon-general-59 {
		background-image: url('../../assets/icons/general/map.svg');
	}

	.cd-icon-general-50 {
		background-image: url('../../assets/icons/general/map-pin.svg');
	}

	.cd-icon-general-51 {
		background-image: url('../../assets/icons/general/maximize-2.svg');
	}

	.cd-icon-general-52 {
		background-image: url('../../assets/icons/general/meh.svg');
	}

	.cd-icon-general-53 {
		background-image: url('../../assets/icons/general/menu.svg');
	}

	.cd-icon-general-54 {
		background-image: url('../../assets/icons/general/message-circle.svg');
	}

	.cd-icon-general-55 {
		background-image: url('../../assets/icons/general/message-square.svg');
	}

	.cd-icon-general-56 {
		background-image: url('../../assets/icons/general/minimize-2.svg');
	}

	.cd-icon-general-57 {
		background-image: url('../../assets/icons/general/minus.svg');
	}

	.cd-icon-general-58 {
		background-image: url('../../assets/icons/general/minus-circle.svg');
	}

	.cd-icon-general-59 {
		background-image: url('../../assets/icons/general/minus-square.svg');
	}

	.cd-icon-general-60 {
		background-image: url('../../assets/icons/general/monitor.svg');
	}

	.cd-icon-general-61 {
		background-image: url('../../assets/icons/general/more-horizontal.svg');
	}

	.cd-icon-general-62 {
		background-image: url('../../assets/icons/general/more-vertical.svg');
	}

	.cd-icon-general-63 {
		background-image: url('../../assets/icons/general/navigation.svg');
	}

	.cd-icon-general-64 {
		background-image: url('../../assets/icons/general/paperclip.svg');
	}

	.cd-icon-general-65 {
		background-image: url('../../assets/icons/general/percent.svg');
	}

	.cd-icon-general-66 {
		background-image: url('../../assets/icons/general/phone.svg');
	}

	.cd-icon-general-67 {
		background-image: url('../../assets/icons/general/pie-chart.svg');
	}

	.cd-icon-general-68 {
		background-image: url('../../assets/icons/general/plus.svg');
	}

	.cd-icon-general-69 {
		background-image: url('../../assets/icons/general/plus-circle.svg');
	}

	.cd-icon-general-70 {
		background-image: url('../../assets/icons/general/plus-square.svg');
	}

	.cd-icon-general-71 {
		background-image: url('../../assets/icons/general/printer.svg');
	}

	.cd-icon-general-72 {
		background-image: url('../../assets/icons/general/refresh-cw.svg');
	}

	.cd-icon-general-73 {
		background-image: url('../../assets/icons/general/repeat.svg');
	}

	.cd-icon-general-74 {
		background-image: url('../../assets/icons/general/save.svg');
	}

	.cd-icon-general-75 {
		background-image: url('../../assets/icons/general/search.svg');
	}

	.cd-icon-general-76 {
		background-image: url('../../assets/icons/general/send.svg');
	}

	.cd-icon-general-77 {
		background-image: url('../../assets/icons/general/settings.svg');
	}

	.cd-icon-general-78 {
		background-image: url('../../assets/icons/general/share.svg');
	}

	.cd-icon-general-79 {
		background-image: url('../../assets/icons/general/slash.svg');
	}

	.cd-icon-general-80 {
		background-image: url('../../assets/icons/general/sliders.svg');
	}

	.cd-icon-general-81 {
		background-image: url('../../assets/icons/general/smartphone.svg');
	}

	.cd-icon-general-82 {
		background-image: url('../../assets/icons/general/smile.svg');
	}

	.cd-icon-general-83 {
		background-image: url('../../assets/icons/general/star.svg');
	}

	.cd-icon-general-84 {
		background-image: url('../../assets/icons/general/tag.svg');
	}

	.cd-icon-general-85 {
		background-image: url('../../assets/icons/general/target.svg');
	}

	.cd-icon-general-86 {
		background-image: url('../../assets/icons/general/thumbs-down.svg');
	}

	.cd-icon-general-87 {
		background-image: url('../../assets/icons/general/thumbs-up.svg');
	}

	.cd-icon-general-88 {
		background-image: url('../../assets/icons/general/trash-2.svg');
	}

	.cd-icon-general-89 {
		background-image: url('../../assets/icons/general/unlock.svg');
	}

	.cd-icon-general-90 {
		background-image: url('../../assets/icons/general/upload.svg');
	}

	.cd-icon-general-91 {
		background-image: url('../../assets/icons/general/user-check.svg');
	}

	.cd-icon-general-92 {
		background-image: url('../../assets/icons/general/user-minus.svg');
	}

	.cd-icon-general-93 {
		background-image: url('../../assets/icons/general/user-plus.svg');
	}

	.cd-icon-general-94 {
		background-image: url('../../assets/icons/general/user-x.svg');
	}

	.cd-icon-general-95 {
		background-image: url('../../assets/icons/general/user.svg');
	}

	.cd-icon-general-96 {
		background-image: url('../../assets/icons/general/users.svg');
	}

	.cd-icon-general-97 {
		background-image: url('../../assets/icons/general/video.svg');
	}

	.cd-icon-general-98 {
		background-image: url('../../assets/icons/general/x-circle.svg');
	}

	.cd-icon-general-99 {
		background-image: url('../../assets/icons/general/x-octagon.svg');
	}

	.cd-icon-general-100 {
		background-image: url('../../assets/icons/general/x-square.svg');
	}

	.cd-icon-general-101 {
		background-image: url('../../assets/icons/general/x.svg');
	}

	.cd-icon-general-102 {
		background-image: url('../../assets/icons/general/zap.svg');
	}

	.cd-icon-general-103 {
		background-image: url('../../assets/icons/general/zoom-in.svg');
	}

	.cd-icon-general-104 {
		background-image: url('../../assets/icons/general/zoom-out.svg');
	}

	.cd-icon-general-105 {
		background-image: url('../../assets/icons/general/briefcase.svg');
	}

	/* benefits */

	.cd-icon-benefits-1 {
		background-image: url('../../assets/icons/benefits/mentoring.svg');
	}

	.cd-icon-benefits-2 {
		background-image: url('../../assets/icons/benefits/kennenlernen_verschiedener_bereiche.svg');
	}

	.cd-icon-benefits-3 {
		background-image: url('../../assets/icons/benefits/weiterbildungsmassnahmen.svg');
	}

	.cd-icon-benefits-4 {
		background-image: url('../../assets/icons/benefits/verantwortung.svg');
	}

	.cd-icon-benefits-5 {
		background-image: url('../../assets/icons/benefits/barrierefreiheit.svg');
	}

	.cd-icon-benefits-6 {
		background-image: url('../../assets/icons/benefits/kostenlose_getraenke.svg');
	}

	.cd-icon-benefits-7 {
		background-image: url('../../assets/icons/benefits/praktikantenaustausch.svg');
	}

	.cd-icon-benefits-8 {
		background-image: url('../../assets/icons/benefits/zuschuss_fuer_oeffentliche_verkehrsmittel.svg');
	}

	.cd-icon-benefits-9 {
		background-image: url('../../assets/icons/benefits/betriebssport.svg');
	}

	.cd-icon-benefits-10 {
		background-image: url('../../assets/icons/benefits/anschlusstaetigkeit_moeglich.svg');
	}

	.cd-icon-benefits-11 {
		background-image: url('../../assets/icons/benefits/networking.svg');
	}

	.cd-icon-benefits-12 {
		background-image: url('../../assets/icons/benefits/flexible_arbeitszeiten.svg');
	}

	.cd-icon-benefits-13 {
		background-image: url('../../assets/icons/benefits/kostenlose_verpflegung.svg');
	}

	.cd-icon-benefits-14 {
		background-image: url('../../assets/icons/benefits/mitarbeiterevents.svg');
	}

	.cd-icon-benefits-15 {
		background-image: url('../../assets/icons/benefits/mitarbeiterrabatte.svg');
	}

	.cd-icon-benefits-16 {
		background-image: url('../../assets/icons/benefits/individuelle_gestaltung.svg');
	}

	.cd-icon-benefits-17 {
		background-image: url('../../assets/icons/benefits/kantine.svg');
	}

	.cd-icon-benefits-18 {
		background-image: url('../../assets/icons/benefits/parkplatz.svg');
	}

	.cd-icon-benefits-19 {
		background-image: url('../../assets/icons/benefits/gute_anbindung.svg');
	}

	.cd-icon-benefits-20 {
		background-image: url('../../assets/icons/benefits/unterstuetzung_bei_der_wohnungssuche.svg');
	}

	.cd-icon-benefits-21 {
		background-image: url('../../assets/icons/benefits/wohnung_wird_vom_unternehmen_gestellt.svg');
	}

	.cd-icon-benefits-22 {
		background-image: url('../../assets/icons/benefits/eigener_arbeitsplatz.svg');
	}

	.cd-icon-benefits-23 {
		background-image: url('../../assets/icons/benefits/internetnutzung.svg');
	}

	.cd-icon-benefits-24 {
		background-image: url('../../assets/icons/benefits/einfuehrungsveranstaltung.svg');
	}

	.cd-icon-benefits-25 {
		background-image: url('../../assets/icons/benefits/auslandsaufenthalt.svg');
	}

	.cd-icon-benefits-26 {
		background-image: url('../../assets/icons/benefits/mitarbeiterlaptop.svg');
	}

	.cd-icon-benefits-27 {
		background-image: url('../../assets/icons/benefits/homeoffice-moeglichkeit.svg');
	}

	.cd-icon-benefits-28 {
		background-image: url('../../assets/icons/benefits/firmenwagen.svg');
	}

	.cd-icon-benefits-29 {
		background-image: url('../../assets/icons/benefits/trainee-alumni-netzwerk.svg');
	}

	.cd-icon-benefits-30 {
		background-image: url('../../assets/icons/benefits/mitarbeiterticket.svg');
	}

	.cd-icon-benefits-31 {
		background-image: url('../../assets/icons/benefits/mitarbeiterbeteiligung.svg');
	}

	.cd-icon-benefits-32 {
		background-image: url('../../assets/icons/benefits/uebernahmegarantie.svg');
	}

	.cd-icon-benefits-33 {
		background-image: url('../../assets/icons/benefits/mitarbeiterhandy.svg');
	}

	.cd-icon-benefits-34 {
		background-image: url('../../assets/icons/benefits/unbefristeter_arbeitsvertrag.svg');
	}

	.cd-icon-benefits-35 {
		background-image: url('../../assets/icons/benefits/projektarbeit.svg');
	}

	.cd-icon-benefits-36 {
		background-image: url('../../assets/icons/benefits/betriebliche_altersvorsorge.svg');
	}

	.cd-icon-benefits-37 {
		background-image: url('../../assets/icons/benefits/kinderbetreuung.svg');
	}

	.cd-icon-benefits-38 {
		background-image: url('../../assets/icons/benefits/ueberdurchschnittlicher_verdienst.svg');
	}

	.cd-icon-benefits-39 {
		background-image: url('../../assets/icons/benefits/gesundheitliche_massnahmen.svg');
	}

	/* social_media */

	.cd-icon-some-1 {
		background-image: url('../../assets/icons/social_media/facebook.svg');
	}

	.cd-icon-some-2 {
		background-image: url('../../assets/icons/social_media/instagram.svg');
	}

	.cd-icon-some-3 {
		background-image: url('../../assets/icons/social_media/twitter.svg');
	}

	.cd-icon-some-4 {
		background-image: url('../../assets/icons/social_media/youtube.svg');
	}

	.cd-icon-some-5 {
		background-image: url('../../assets/icons/social_media/xing.svg');
	}

	.cd-icon-some-6 {
		background-image: url('../../assets/icons/social_media/linkedin.svg');
	}

		/* filled */

	.cd-icon-filled-1 {
		background-image: url('../../assets/icons/filled/bubble-plus.svg');
	}

	.cd-icon-filled-2 {
		background-image: url('../../assets/icons/filled/bubble-minus.svg');
	}

	/* menu */

	.cd-menu-1 {
		background-image: url('../../assets/menu/icon-menu-staedte.svg');
	}

	.cd-menu-2 {
		background-image: url('../../assets/menu/icon-menu-bundeslaender.svg');
	}

	.cd-menu-3 {
		background-image: url('../../assets/menu/icon-menu-bereiche.svg');
	}

	.cd-menu-4 {
		background-image: url('../../assets/menu/icon-menu-unternehmen.svg');
	}

	.cd-menu-5 {
		background-image: url('../../assets/menu/icon-menu-branchen.svg');
	}

	.cd-menu-6 {
		background-image: url('../../assets/menu/icon-menu-events.svg');
	}

	.cd-menu-7 {
		background-image: url('../../assets/menu/icon-menu-einstiegsprogramme.svg');
	}

	.cd-menu-8 {
		background-image: url('../../assets/menu/icon-menu-bewerbung.svg');
	}

	.cd-menu-9 {
		background-image: url('../../assets/menu/icon-menu-volontariat.svg');
	}

	.cd-menu-10 {
		background-image: url('../../assets/menu/icon-menu-gehalt.svg');
	}

	.cd-menu-11 {
		background-image: url('../../assets/menu/icon-menu-checklist.svg');
	}
}

.cd-patterns {

	.cd-box {
		border: 0px solid #fff;
		box-shadow: none !important;
		padding: 0;

		li {

			figure {
				img {
					border: 1px solid $color-additional-3;
					border-radius: 3px;
					box-shadow: 0 1px 1px rgba(#000, .05);
				}
				figcaption {
					padding-top: 1em;
				}
			}

			&.cd-pattern-9 {
				figure {
					img {
						border: 0px solid #fff;
						box-shadow: none;
						height: 156px;

						@include MQ(M) {
							height:	189px;
						}
					}
				}
			}
		}
	}
}
