#impress, #data-secure {

  section {

    padding: 20px 0;

    p + p {
      margin: 10px 0;
    }

    a {
      color: $color-1;
      transition: color 0.5s ease;

      &:hover {
        text-decoration: none;
        color: $color-mint-darken1;
      }
    }

    h2, h3 {
      margin-bottom: 10px;
      line-height: 2.5rem;
    }

    h4 {
      font-weight: bold;
      margin: 30px 0 10px 0;
      line-height: 2.5rem;
    }

    ul {
      margin-left: 20px;
      li {
        margin: 15px 0;
      }
    }
  }
}