// breakpoints

$XS:    500px;
$S:     768px;
$M:     1024px;
$L:     1600px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) { @content; }
  }
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}

@import '../../node_modules/bootstrap-4-grid/scss/grid/bootstrap-grid';