/*!
 * Bootstrap Grid v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; } }
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%; }

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%; }

.row-cols-3 > * {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%; }

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%; }

.row-cols-6 > * {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.3333333333%; }

.offset-2 {
  margin-left: 16.6666666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.offset-11 {
  margin-left: 91.6666666667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%; }

  .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%; }

  .row-cols-sm-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%; }

  .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%; }

  .row-cols-sm-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-sm-first {
    order: -1; }

  .order-sm-last {
    order: 13; }

  .order-sm-0 {
    order: 0; }

  .order-sm-1 {
    order: 1; }

  .order-sm-2 {
    order: 2; }

  .order-sm-3 {
    order: 3; }

  .order-sm-4 {
    order: 4; }

  .order-sm-5 {
    order: 5; }

  .order-sm-6 {
    order: 6; }

  .order-sm-7 {
    order: 7; }

  .order-sm-8 {
    order: 8; }

  .order-sm-9 {
    order: 9; }

  .order-sm-10 {
    order: 10; }

  .order-sm-11 {
    order: 11; }

  .order-sm-12 {
    order: 12; }

  .offset-sm-0 {
    margin-left: 0; }

  .offset-sm-1 {
    margin-left: 8.3333333333%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%; }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%; }

  .row-cols-md-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%; }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%; }

  .row-cols-md-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-md-first {
    order: -1; }

  .order-md-last {
    order: 13; }

  .order-md-0 {
    order: 0; }

  .order-md-1 {
    order: 1; }

  .order-md-2 {
    order: 2; }

  .order-md-3 {
    order: 3; }

  .order-md-4 {
    order: 4; }

  .order-md-5 {
    order: 5; }

  .order-md-6 {
    order: 6; }

  .order-md-7 {
    order: 7; }

  .order-md-8 {
    order: 8; }

  .order-md-9 {
    order: 9; }

  .order-md-10 {
    order: 10; }

  .order-md-11 {
    order: 11; }

  .order-md-12 {
    order: 12; }

  .offset-md-0 {
    margin-left: 0; }

  .offset-md-1 {
    margin-left: 8.3333333333%; }

  .offset-md-2 {
    margin-left: 16.6666666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%; }

  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%; }

  .row-cols-lg-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%; }

  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%; }

  .row-cols-lg-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-lg-first {
    order: -1; }

  .order-lg-last {
    order: 13; }

  .order-lg-0 {
    order: 0; }

  .order-lg-1 {
    order: 1; }

  .order-lg-2 {
    order: 2; }

  .order-lg-3 {
    order: 3; }

  .order-lg-4 {
    order: 4; }

  .order-lg-5 {
    order: 5; }

  .order-lg-6 {
    order: 6; }

  .order-lg-7 {
    order: 7; }

  .order-lg-8 {
    order: 8; }

  .order-lg-9 {
    order: 9; }

  .order-lg-10 {
    order: 10; }

  .order-lg-11 {
    order: 11; }

  .order-lg-12 {
    order: 12; }

  .offset-lg-0 {
    margin-left: 0; }

  .offset-lg-1 {
    margin-left: 8.3333333333%; }

  .offset-lg-2 {
    margin-left: 16.6666666667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.3333333333%; }

  .offset-lg-5 {
    margin-left: 41.6666666667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.3333333333%; }

  .offset-lg-8 {
    margin-left: 66.6666666667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.3333333333%; }

  .offset-lg-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%; }

  .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%; }

  .row-cols-xl-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%; }

  .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%; }

  .row-cols-xl-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-xl-first {
    order: -1; }

  .order-xl-last {
    order: 13; }

  .order-xl-0 {
    order: 0; }

  .order-xl-1 {
    order: 1; }

  .order-xl-2 {
    order: 2; }

  .order-xl-3 {
    order: 3; }

  .order-xl-4 {
    order: 4; }

  .order-xl-5 {
    order: 5; }

  .order-xl-6 {
    order: 6; }

  .order-xl-7 {
    order: 7; }

  .order-xl-8 {
    order: 8; }

  .order-xl-9 {
    order: 9; }

  .order-xl-10 {
    order: 10; }

  .order-xl-11 {
    order: 11; }

  .order-xl-12 {
    order: 12; }

  .offset-xl-0 {
    margin-left: 0; }

  .offset-xl-1 {
    margin-left: 8.3333333333%; }

  .offset-xl-2 {
    margin-left: 16.6666666667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.3333333333%; }

  .offset-xl-5 {
    margin-left: 41.6666666667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.3333333333%; }

  .offset-xl-8 {
    margin-left: 66.6666666667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.3333333333%; }

  .offset-xl-11 {
    margin-left: 91.6666666667%; } }
.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important; }

  .d-sm-inline {
    display: inline !important; }

  .d-sm-inline-block {
    display: inline-block !important; }

  .d-sm-block {
    display: block !important; }

  .d-sm-table {
    display: table !important; }

  .d-sm-table-row {
    display: table-row !important; }

  .d-sm-table-cell {
    display: table-cell !important; }

  .d-sm-flex {
    display: flex !important; }

  .d-sm-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 768px) {
  .d-md-none {
    display: none !important; }

  .d-md-inline {
    display: inline !important; }

  .d-md-inline-block {
    display: inline-block !important; }

  .d-md-block {
    display: block !important; }

  .d-md-table {
    display: table !important; }

  .d-md-table-row {
    display: table-row !important; }

  .d-md-table-cell {
    display: table-cell !important; }

  .d-md-flex {
    display: flex !important; }

  .d-md-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }

  .d-lg-inline {
    display: inline !important; }

  .d-lg-inline-block {
    display: inline-block !important; }

  .d-lg-block {
    display: block !important; }

  .d-lg-table {
    display: table !important; }

  .d-lg-table-row {
    display: table-row !important; }

  .d-lg-table-cell {
    display: table-cell !important; }

  .d-lg-flex {
    display: flex !important; }

  .d-lg-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important; }

  .d-xl-inline {
    display: inline !important; }

  .d-xl-inline-block {
    display: inline-block !important; }

  .d-xl-block {
    display: block !important; }

  .d-xl-table {
    display: table !important; }

  .d-xl-table-row {
    display: table-row !important; }

  .d-xl-table-cell {
    display: table-cell !important; }

  .d-xl-flex {
    display: flex !important; }

  .d-xl-inline-flex {
    display: inline-flex !important; } }
@media print {
  .d-print-none {
    display: none !important; }

  .d-print-inline {
    display: inline !important; }

  .d-print-inline-block {
    display: inline-block !important; }

  .d-print-block {
    display: block !important; }

  .d-print-table {
    display: table !important; }

  .d-print-table-row {
    display: table-row !important; }

  .d-print-table-cell {
    display: table-cell !important; }

  .d-print-flex {
    display: flex !important; }

  .d-print-inline-flex {
    display: inline-flex !important; } }
.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.flex-fill {
  flex: 1 1 auto !important; }

.flex-grow-0 {
  flex-grow: 0 !important; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.flex-shrink-0 {
  flex-shrink: 0 !important; }

.flex-shrink-1 {
  flex-shrink: 1 !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important; }

  .flex-sm-column {
    flex-direction: column !important; }

  .flex-sm-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-sm-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-sm-wrap {
    flex-wrap: wrap !important; }

  .flex-sm-nowrap {
    flex-wrap: nowrap !important; }

  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .flex-sm-fill {
    flex: 1 1 auto !important; }

  .flex-sm-grow-0 {
    flex-grow: 0 !important; }

  .flex-sm-grow-1 {
    flex-grow: 1 !important; }

  .flex-sm-shrink-0 {
    flex-shrink: 0 !important; }

  .flex-sm-shrink-1 {
    flex-shrink: 1 !important; }

  .justify-content-sm-start {
    justify-content: flex-start !important; }

  .justify-content-sm-end {
    justify-content: flex-end !important; }

  .justify-content-sm-center {
    justify-content: center !important; }

  .justify-content-sm-between {
    justify-content: space-between !important; }

  .justify-content-sm-around {
    justify-content: space-around !important; }

  .align-items-sm-start {
    align-items: flex-start !important; }

  .align-items-sm-end {
    align-items: flex-end !important; }

  .align-items-sm-center {
    align-items: center !important; }

  .align-items-sm-baseline {
    align-items: baseline !important; }

  .align-items-sm-stretch {
    align-items: stretch !important; }

  .align-content-sm-start {
    align-content: flex-start !important; }

  .align-content-sm-end {
    align-content: flex-end !important; }

  .align-content-sm-center {
    align-content: center !important; }

  .align-content-sm-between {
    align-content: space-between !important; }

  .align-content-sm-around {
    align-content: space-around !important; }

  .align-content-sm-stretch {
    align-content: stretch !important; }

  .align-self-sm-auto {
    align-self: auto !important; }

  .align-self-sm-start {
    align-self: flex-start !important; }

  .align-self-sm-end {
    align-self: flex-end !important; }

  .align-self-sm-center {
    align-self: center !important; }

  .align-self-sm-baseline {
    align-self: baseline !important; }

  .align-self-sm-stretch {
    align-self: stretch !important; } }
@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important; }

  .flex-md-column {
    flex-direction: column !important; }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-md-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-md-wrap {
    flex-wrap: wrap !important; }

  .flex-md-nowrap {
    flex-wrap: nowrap !important; }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .flex-md-fill {
    flex: 1 1 auto !important; }

  .flex-md-grow-0 {
    flex-grow: 0 !important; }

  .flex-md-grow-1 {
    flex-grow: 1 !important; }

  .flex-md-shrink-0 {
    flex-shrink: 0 !important; }

  .flex-md-shrink-1 {
    flex-shrink: 1 !important; }

  .justify-content-md-start {
    justify-content: flex-start !important; }

  .justify-content-md-end {
    justify-content: flex-end !important; }

  .justify-content-md-center {
    justify-content: center !important; }

  .justify-content-md-between {
    justify-content: space-between !important; }

  .justify-content-md-around {
    justify-content: space-around !important; }

  .align-items-md-start {
    align-items: flex-start !important; }

  .align-items-md-end {
    align-items: flex-end !important; }

  .align-items-md-center {
    align-items: center !important; }

  .align-items-md-baseline {
    align-items: baseline !important; }

  .align-items-md-stretch {
    align-items: stretch !important; }

  .align-content-md-start {
    align-content: flex-start !important; }

  .align-content-md-end {
    align-content: flex-end !important; }

  .align-content-md-center {
    align-content: center !important; }

  .align-content-md-between {
    align-content: space-between !important; }

  .align-content-md-around {
    align-content: space-around !important; }

  .align-content-md-stretch {
    align-content: stretch !important; }

  .align-self-md-auto {
    align-self: auto !important; }

  .align-self-md-start {
    align-self: flex-start !important; }

  .align-self-md-end {
    align-self: flex-end !important; }

  .align-self-md-center {
    align-self: center !important; }

  .align-self-md-baseline {
    align-self: baseline !important; }

  .align-self-md-stretch {
    align-self: stretch !important; } }
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important; }

  .flex-lg-column {
    flex-direction: column !important; }

  .flex-lg-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-lg-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-lg-wrap {
    flex-wrap: wrap !important; }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important; }

  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .flex-lg-fill {
    flex: 1 1 auto !important; }

  .flex-lg-grow-0 {
    flex-grow: 0 !important; }

  .flex-lg-grow-1 {
    flex-grow: 1 !important; }

  .flex-lg-shrink-0 {
    flex-shrink: 0 !important; }

  .flex-lg-shrink-1 {
    flex-shrink: 1 !important; }

  .justify-content-lg-start {
    justify-content: flex-start !important; }

  .justify-content-lg-end {
    justify-content: flex-end !important; }

  .justify-content-lg-center {
    justify-content: center !important; }

  .justify-content-lg-between {
    justify-content: space-between !important; }

  .justify-content-lg-around {
    justify-content: space-around !important; }

  .align-items-lg-start {
    align-items: flex-start !important; }

  .align-items-lg-end {
    align-items: flex-end !important; }

  .align-items-lg-center {
    align-items: center !important; }

  .align-items-lg-baseline {
    align-items: baseline !important; }

  .align-items-lg-stretch {
    align-items: stretch !important; }

  .align-content-lg-start {
    align-content: flex-start !important; }

  .align-content-lg-end {
    align-content: flex-end !important; }

  .align-content-lg-center {
    align-content: center !important; }

  .align-content-lg-between {
    align-content: space-between !important; }

  .align-content-lg-around {
    align-content: space-around !important; }

  .align-content-lg-stretch {
    align-content: stretch !important; }

  .align-self-lg-auto {
    align-self: auto !important; }

  .align-self-lg-start {
    align-self: flex-start !important; }

  .align-self-lg-end {
    align-self: flex-end !important; }

  .align-self-lg-center {
    align-self: center !important; }

  .align-self-lg-baseline {
    align-self: baseline !important; }

  .align-self-lg-stretch {
    align-self: stretch !important; } }
@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important; }

  .flex-xl-column {
    flex-direction: column !important; }

  .flex-xl-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-xl-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-xl-wrap {
    flex-wrap: wrap !important; }

  .flex-xl-nowrap {
    flex-wrap: nowrap !important; }

  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .flex-xl-fill {
    flex: 1 1 auto !important; }

  .flex-xl-grow-0 {
    flex-grow: 0 !important; }

  .flex-xl-grow-1 {
    flex-grow: 1 !important; }

  .flex-xl-shrink-0 {
    flex-shrink: 0 !important; }

  .flex-xl-shrink-1 {
    flex-shrink: 1 !important; }

  .justify-content-xl-start {
    justify-content: flex-start !important; }

  .justify-content-xl-end {
    justify-content: flex-end !important; }

  .justify-content-xl-center {
    justify-content: center !important; }

  .justify-content-xl-between {
    justify-content: space-between !important; }

  .justify-content-xl-around {
    justify-content: space-around !important; }

  .align-items-xl-start {
    align-items: flex-start !important; }

  .align-items-xl-end {
    align-items: flex-end !important; }

  .align-items-xl-center {
    align-items: center !important; }

  .align-items-xl-baseline {
    align-items: baseline !important; }

  .align-items-xl-stretch {
    align-items: stretch !important; }

  .align-content-xl-start {
    align-content: flex-start !important; }

  .align-content-xl-end {
    align-content: flex-end !important; }

  .align-content-xl-center {
    align-content: center !important; }

  .align-content-xl-between {
    align-content: space-between !important; }

  .align-content-xl-around {
    align-content: space-around !important; }

  .align-content-xl-stretch {
    align-content: stretch !important; }

  .align-self-xl-auto {
    align-self: auto !important; }

  .align-self-xl-start {
    align-self: flex-start !important; }

  .align-self-xl-end {
    align-self: flex-end !important; }

  .align-self-xl-center {
    align-self: center !important; }

  .align-self-xl-baseline {
    align-self: baseline !important; }

  .align-self-xl-stretch {
    align-self: stretch !important; } }
.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-n1 {
  margin: -0.25rem !important; }

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important; }

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important; }

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important; }

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important; }

.m-n2 {
  margin: -0.5rem !important; }

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important; }

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important; }

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important; }

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important; }

.m-n3 {
  margin: -1rem !important; }

.mt-n3,
.my-n3 {
  margin-top: -1rem !important; }

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important; }

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important; }

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important; }

.m-n4 {
  margin: -1.5rem !important; }

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important; }

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important; }

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important; }

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important; }

.m-n5 {
  margin: -3rem !important; }

.mt-n5,
.my-n5 {
  margin-top: -3rem !important; }

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important; }

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important; }

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }

  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }

  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important; }

  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }

  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important; }

  .m-sm-1 {
    margin: 0.25rem !important; }

  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important; }

  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important; }

  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important; }

  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important; }

  .m-sm-2 {
    margin: 0.5rem !important; }

  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important; }

  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important; }

  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important; }

  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important; }

  .m-sm-3 {
    margin: 1rem !important; }

  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important; }

  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important; }

  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important; }

  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important; }

  .m-sm-4 {
    margin: 1.5rem !important; }

  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important; }

  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important; }

  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important; }

  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important; }

  .m-sm-5 {
    margin: 3rem !important; }

  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important; }

  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important; }

  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important; }

  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important; }

  .p-sm-0 {
    padding: 0 !important; }

  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }

  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important; }

  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }

  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important; }

  .p-sm-1 {
    padding: 0.25rem !important; }

  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important; }

  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important; }

  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important; }

  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important; }

  .p-sm-2 {
    padding: 0.5rem !important; }

  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important; }

  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important; }

  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important; }

  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important; }

  .p-sm-3 {
    padding: 1rem !important; }

  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important; }

  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important; }

  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important; }

  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important; }

  .p-sm-4 {
    padding: 1.5rem !important; }

  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important; }

  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important; }

  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important; }

  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important; }

  .p-sm-5 {
    padding: 3rem !important; }

  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important; }

  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important; }

  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important; }

  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important; }

  .m-sm-n1 {
    margin: -0.25rem !important; }

  .mt-sm-n1,
  .my-sm-n1 {
    margin-top: -0.25rem !important; }

  .mr-sm-n1,
  .mx-sm-n1 {
    margin-right: -0.25rem !important; }

  .mb-sm-n1,
  .my-sm-n1 {
    margin-bottom: -0.25rem !important; }

  .ml-sm-n1,
  .mx-sm-n1 {
    margin-left: -0.25rem !important; }

  .m-sm-n2 {
    margin: -0.5rem !important; }

  .mt-sm-n2,
  .my-sm-n2 {
    margin-top: -0.5rem !important; }

  .mr-sm-n2,
  .mx-sm-n2 {
    margin-right: -0.5rem !important; }

  .mb-sm-n2,
  .my-sm-n2 {
    margin-bottom: -0.5rem !important; }

  .ml-sm-n2,
  .mx-sm-n2 {
    margin-left: -0.5rem !important; }

  .m-sm-n3 {
    margin: -1rem !important; }

  .mt-sm-n3,
  .my-sm-n3 {
    margin-top: -1rem !important; }

  .mr-sm-n3,
  .mx-sm-n3 {
    margin-right: -1rem !important; }

  .mb-sm-n3,
  .my-sm-n3 {
    margin-bottom: -1rem !important; }

  .ml-sm-n3,
  .mx-sm-n3 {
    margin-left: -1rem !important; }

  .m-sm-n4 {
    margin: -1.5rem !important; }

  .mt-sm-n4,
  .my-sm-n4 {
    margin-top: -1.5rem !important; }

  .mr-sm-n4,
  .mx-sm-n4 {
    margin-right: -1.5rem !important; }

  .mb-sm-n4,
  .my-sm-n4 {
    margin-bottom: -1.5rem !important; }

  .ml-sm-n4,
  .mx-sm-n4 {
    margin-left: -1.5rem !important; }

  .m-sm-n5 {
    margin: -3rem !important; }

  .mt-sm-n5,
  .my-sm-n5 {
    margin-top: -3rem !important; }

  .mr-sm-n5,
  .mx-sm-n5 {
    margin-right: -3rem !important; }

  .mb-sm-n5,
  .my-sm-n5 {
    margin-bottom: -3rem !important; }

  .ml-sm-n5,
  .mx-sm-n5 {
    margin-left: -3rem !important; }

  .m-sm-auto {
    margin: auto !important; }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }

  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important; }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }

  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important; } }
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }

  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important; }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }

  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important; }

  .m-md-1 {
    margin: 0.25rem !important; }

  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important; }

  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important; }

  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important; }

  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important; }

  .m-md-2 {
    margin: 0.5rem !important; }

  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important; }

  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important; }

  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important; }

  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important; }

  .m-md-3 {
    margin: 1rem !important; }

  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important; }

  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important; }

  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important; }

  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important; }

  .m-md-4 {
    margin: 1.5rem !important; }

  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important; }

  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important; }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important; }

  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important; }

  .m-md-5 {
    margin: 3rem !important; }

  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important; }

  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important; }

  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important; }

  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important; }

  .p-md-0 {
    padding: 0 !important; }

  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }

  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important; }

  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important; }

  .p-md-1 {
    padding: 0.25rem !important; }

  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important; }

  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important; }

  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important; }

  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important; }

  .p-md-2 {
    padding: 0.5rem !important; }

  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important; }

  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important; }

  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important; }

  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important; }

  .p-md-3 {
    padding: 1rem !important; }

  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important; }

  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important; }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important; }

  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important; }

  .p-md-4 {
    padding: 1.5rem !important; }

  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important; }

  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important; }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important; }

  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important; }

  .p-md-5 {
    padding: 3rem !important; }

  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important; }

  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important; }

  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important; }

  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important; }

  .m-md-n1 {
    margin: -0.25rem !important; }

  .mt-md-n1,
  .my-md-n1 {
    margin-top: -0.25rem !important; }

  .mr-md-n1,
  .mx-md-n1 {
    margin-right: -0.25rem !important; }

  .mb-md-n1,
  .my-md-n1 {
    margin-bottom: -0.25rem !important; }

  .ml-md-n1,
  .mx-md-n1 {
    margin-left: -0.25rem !important; }

  .m-md-n2 {
    margin: -0.5rem !important; }

  .mt-md-n2,
  .my-md-n2 {
    margin-top: -0.5rem !important; }

  .mr-md-n2,
  .mx-md-n2 {
    margin-right: -0.5rem !important; }

  .mb-md-n2,
  .my-md-n2 {
    margin-bottom: -0.5rem !important; }

  .ml-md-n2,
  .mx-md-n2 {
    margin-left: -0.5rem !important; }

  .m-md-n3 {
    margin: -1rem !important; }

  .mt-md-n3,
  .my-md-n3 {
    margin-top: -1rem !important; }

  .mr-md-n3,
  .mx-md-n3 {
    margin-right: -1rem !important; }

  .mb-md-n3,
  .my-md-n3 {
    margin-bottom: -1rem !important; }

  .ml-md-n3,
  .mx-md-n3 {
    margin-left: -1rem !important; }

  .m-md-n4 {
    margin: -1.5rem !important; }

  .mt-md-n4,
  .my-md-n4 {
    margin-top: -1.5rem !important; }

  .mr-md-n4,
  .mx-md-n4 {
    margin-right: -1.5rem !important; }

  .mb-md-n4,
  .my-md-n4 {
    margin-bottom: -1.5rem !important; }

  .ml-md-n4,
  .mx-md-n4 {
    margin-left: -1.5rem !important; }

  .m-md-n5 {
    margin: -3rem !important; }

  .mt-md-n5,
  .my-md-n5 {
    margin-top: -3rem !important; }

  .mr-md-n5,
  .mx-md-n5 {
    margin-right: -3rem !important; }

  .mb-md-n5,
  .my-md-n5 {
    margin-bottom: -3rem !important; }

  .ml-md-n5,
  .mx-md-n5 {
    margin-left: -3rem !important; }

  .m-md-auto {
    margin: auto !important; }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important; }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important; } }
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important; }

  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }

  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important; }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }

  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important; }

  .m-lg-1 {
    margin: 0.25rem !important; }

  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important; }

  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important; }

  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important; }

  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important; }

  .m-lg-2 {
    margin: 0.5rem !important; }

  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important; }

  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important; }

  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important; }

  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important; }

  .m-lg-3 {
    margin: 1rem !important; }

  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important; }

  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important; }

  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important; }

  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important; }

  .m-lg-4 {
    margin: 1.5rem !important; }

  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important; }

  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important; }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important; }

  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important; }

  .m-lg-5 {
    margin: 3rem !important; }

  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important; }

  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important; }

  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important; }

  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important; }

  .p-lg-0 {
    padding: 0 !important; }

  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }

  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important; }

  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }

  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important; }

  .p-lg-1 {
    padding: 0.25rem !important; }

  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important; }

  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important; }

  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important; }

  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important; }

  .p-lg-2 {
    padding: 0.5rem !important; }

  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important; }

  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important; }

  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important; }

  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important; }

  .p-lg-3 {
    padding: 1rem !important; }

  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important; }

  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important; }

  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important; }

  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important; }

  .p-lg-4 {
    padding: 1.5rem !important; }

  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important; }

  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important; }

  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important; }

  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important; }

  .p-lg-5 {
    padding: 3rem !important; }

  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important; }

  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important; }

  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important; }

  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important; }

  .m-lg-n1 {
    margin: -0.25rem !important; }

  .mt-lg-n1,
  .my-lg-n1 {
    margin-top: -0.25rem !important; }

  .mr-lg-n1,
  .mx-lg-n1 {
    margin-right: -0.25rem !important; }

  .mb-lg-n1,
  .my-lg-n1 {
    margin-bottom: -0.25rem !important; }

  .ml-lg-n1,
  .mx-lg-n1 {
    margin-left: -0.25rem !important; }

  .m-lg-n2 {
    margin: -0.5rem !important; }

  .mt-lg-n2,
  .my-lg-n2 {
    margin-top: -0.5rem !important; }

  .mr-lg-n2,
  .mx-lg-n2 {
    margin-right: -0.5rem !important; }

  .mb-lg-n2,
  .my-lg-n2 {
    margin-bottom: -0.5rem !important; }

  .ml-lg-n2,
  .mx-lg-n2 {
    margin-left: -0.5rem !important; }

  .m-lg-n3 {
    margin: -1rem !important; }

  .mt-lg-n3,
  .my-lg-n3 {
    margin-top: -1rem !important; }

  .mr-lg-n3,
  .mx-lg-n3 {
    margin-right: -1rem !important; }

  .mb-lg-n3,
  .my-lg-n3 {
    margin-bottom: -1rem !important; }

  .ml-lg-n3,
  .mx-lg-n3 {
    margin-left: -1rem !important; }

  .m-lg-n4 {
    margin: -1.5rem !important; }

  .mt-lg-n4,
  .my-lg-n4 {
    margin-top: -1.5rem !important; }

  .mr-lg-n4,
  .mx-lg-n4 {
    margin-right: -1.5rem !important; }

  .mb-lg-n4,
  .my-lg-n4 {
    margin-bottom: -1.5rem !important; }

  .ml-lg-n4,
  .mx-lg-n4 {
    margin-left: -1.5rem !important; }

  .m-lg-n5 {
    margin: -3rem !important; }

  .mt-lg-n5,
  .my-lg-n5 {
    margin-top: -3rem !important; }

  .mr-lg-n5,
  .mx-lg-n5 {
    margin-right: -3rem !important; }

  .mb-lg-n5,
  .my-lg-n5 {
    margin-bottom: -3rem !important; }

  .ml-lg-n5,
  .mx-lg-n5 {
    margin-left: -3rem !important; }

  .m-lg-auto {
    margin: auto !important; }

  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important; }

  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important; }

  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important; }

  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important; } }
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important; }

  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }

  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important; }

  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }

  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important; }

  .m-xl-1 {
    margin: 0.25rem !important; }

  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important; }

  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important; }

  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important; }

  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important; }

  .m-xl-2 {
    margin: 0.5rem !important; }

  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important; }

  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important; }

  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important; }

  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important; }

  .m-xl-3 {
    margin: 1rem !important; }

  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important; }

  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important; }

  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important; }

  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important; }

  .m-xl-4 {
    margin: 1.5rem !important; }

  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important; }

  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important; }

  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important; }

  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important; }

  .m-xl-5 {
    margin: 3rem !important; }

  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important; }

  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important; }

  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important; }

  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important; }

  .p-xl-0 {
    padding: 0 !important; }

  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }

  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important; }

  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }

  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important; }

  .p-xl-1 {
    padding: 0.25rem !important; }

  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important; }

  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important; }

  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important; }

  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important; }

  .p-xl-2 {
    padding: 0.5rem !important; }

  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important; }

  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important; }

  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important; }

  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important; }

  .p-xl-3 {
    padding: 1rem !important; }

  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important; }

  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important; }

  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important; }

  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important; }

  .p-xl-4 {
    padding: 1.5rem !important; }

  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important; }

  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important; }

  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important; }

  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important; }

  .p-xl-5 {
    padding: 3rem !important; }

  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important; }

  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important; }

  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important; }

  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important; }

  .m-xl-n1 {
    margin: -0.25rem !important; }

  .mt-xl-n1,
  .my-xl-n1 {
    margin-top: -0.25rem !important; }

  .mr-xl-n1,
  .mx-xl-n1 {
    margin-right: -0.25rem !important; }

  .mb-xl-n1,
  .my-xl-n1 {
    margin-bottom: -0.25rem !important; }

  .ml-xl-n1,
  .mx-xl-n1 {
    margin-left: -0.25rem !important; }

  .m-xl-n2 {
    margin: -0.5rem !important; }

  .mt-xl-n2,
  .my-xl-n2 {
    margin-top: -0.5rem !important; }

  .mr-xl-n2,
  .mx-xl-n2 {
    margin-right: -0.5rem !important; }

  .mb-xl-n2,
  .my-xl-n2 {
    margin-bottom: -0.5rem !important; }

  .ml-xl-n2,
  .mx-xl-n2 {
    margin-left: -0.5rem !important; }

  .m-xl-n3 {
    margin: -1rem !important; }

  .mt-xl-n3,
  .my-xl-n3 {
    margin-top: -1rem !important; }

  .mr-xl-n3,
  .mx-xl-n3 {
    margin-right: -1rem !important; }

  .mb-xl-n3,
  .my-xl-n3 {
    margin-bottom: -1rem !important; }

  .ml-xl-n3,
  .mx-xl-n3 {
    margin-left: -1rem !important; }

  .m-xl-n4 {
    margin: -1.5rem !important; }

  .mt-xl-n4,
  .my-xl-n4 {
    margin-top: -1.5rem !important; }

  .mr-xl-n4,
  .mx-xl-n4 {
    margin-right: -1.5rem !important; }

  .mb-xl-n4,
  .my-xl-n4 {
    margin-bottom: -1.5rem !important; }

  .ml-xl-n4,
  .mx-xl-n4 {
    margin-left: -1.5rem !important; }

  .m-xl-n5 {
    margin: -3rem !important; }

  .mt-xl-n5,
  .my-xl-n5 {
    margin-top: -3rem !important; }

  .mr-xl-n5,
  .mx-xl-n5 {
    margin-right: -3rem !important; }

  .mb-xl-n5,
  .my-xl-n5 {
    margin-bottom: -3rem !important; }

  .ml-xl-n5,
  .mx-xl-n5 {
    margin-left: -3rem !important; }

  .m-xl-auto {
    margin: auto !important; }

  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important; }

  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important; }

  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important; }

  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important; } }
/* -------------------------------- 

xBackground 

-------------------------------- */
body {
  background-color: #fff; }

.bg-dark {
  background-color: #2D3F49;
  color: #fff !important; }
  .bg-dark h1, .bg-dark h2, .bg-dark h3 {
    color: #fff; }
    .bg-dark h1:before, .bg-dark h2:before, .bg-dark h3:before {
      color: #fff; }

.logo-dark {
  fill: #2D3F49; }

/* -------------------------------- 

xcdBox

-------------------------------- */
.cd-box {
  border: 1px solid #EAF0F4;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 1px; }
  @media only screen and (min-width: 1600px) {
    .cd-box {
      padding: 2em; } }

/* -------------------------------- 

xNavigation 

-------------------------------- */
header {
  background-color: #0F181D; }

.cd-logo {
  background-color: #2D3F49;
  width: 120px; }
  @media only screen and (min-width: 1600px) {
    .cd-logo {
      width: 180px; } }

.cd-main-nav {
  background: #0F181D; }
  .cd-main-nav li a {
    color: #fff;
    border-color: #18262e; }
  @media only screen and (min-width: 768px) {
    .cd-main-nav li a {
      color: #5587a3; }
      .cd-main-nav li a.selected {
        color: #fff;
        box-shadow: 0 2px 0 #43C6AC; }
      .no-touch .cd-main-nav li a:hover {
        color: #fff; } }

.cd-nav-trigger span {
  background-color: #fff; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    background-color: #fff; }

.nav-is-visible .cd-nav-trigger span {
  background-color: rgba(255, 255, 255, 0); }
  .nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
    background-color: white; }

.nav-is-visible .cd-main-nav {
  z-index: 100;
  overflow: scroll; }
  .nav-is-visible .cd-main-nav li a {
    padding: 35px 0; }

.cd-nav-trigger {
  z-index: 101; }

.cd-download {
  background-color: #20343f; }
  .no-touch .cd-download:hover {
    background-color: #29424f; }
  .cd-download span {
    background: #43C6AC;
    color: #fff; }
    .cd-download span::before {
      /* right arrow color */
      border-color: #43C6AC; }

/* -------------------------------- 

xPage title 

-------------------------------- */
main > h1 {
  color: #0F181D; }
  @media only screen and (min-width: 1600px) {
    main > h1 {
      color: #fff; } }

/* -------------------------------- 

xTypography 

-------------------------------- */
h1, h2, h3 {
  font-family: "Inter", sans-serif;
  color: #0F181D; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4rem; } }

h2, h3 {
  font-weight: bold;
  margin: 1em 0; }
  @media only screen and (min-width: 768px) {
    h2, h3 {
      font-size: 1.8rem;
      line-height: 2.5rem; } }

.headline::before {
  color: #b8ccda; }

p, li {
  font-size: 16px;
  line-height: 1.75em;
  color: #2D3F49; }
  p a, li a {
    color: #43C6AC;
    transition: color 0.5s ease; }
    p a:hover, li a:hover {
      text-decoration: none;
      color: #126F5D; }

p::-moz-selection, span::-moz-selection, b::-moz-selection, li::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection {
  background-color: #43C6AC;
  color: #fff; }

p::selection, span::selection, b::selection, li::selection, h1::selection, h2::selection, h3::selection, h4::selection {
  background-color: #43C6AC;
  color: #fff; }

/* -------------------------------- 

xIcons 

-------------------------------- */
.cd-icons li {
  /* icons size */
  width: 32px;
  height: 32px; }

.cd-menu-list li {
  /* icons size */
  width: 35px;
  height: 35px;
  background-size: cover; }

/* --------------------------------

xPatterns Menu

-------------------------------- */
.cd-pattern ul {
  list-style: none; }

/* --------------------------------

xFooter

-------------------------------- */
footer {
  margin-top: 100px; }
  footer .wrapper-footer {
    padding-top: 50px;
    border-top: 1px solid #EAF0F4; }
  footer p {
    font-weight: 500; }
    footer p span.hearts {
      color: #43C6AC;
      animation: pulse 1s linear infinite; }
  footer .footer-nav ul li:first-of-type {
    margin-right: 15px; }
  footer .footer-nav ul li a.active {
    font-weight: bold; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/* -------------------------------- 

xBasic style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif; }

a {
  text-decoration: none; }

b {
  font-weight: 700; }

img {
  max-width: 100%; }

input, textarea, select {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem; }

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  header nav {
    display: inline-block; }
  @media only screen and (min-width: 1024px) {
    header {
      height: 80px; }
      header::after {
        clear: both;
        content: "";
        display: table; } }

.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative; }
  .cd-logo img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  @media only screen and (min-width: 1600px) {
    .cd-logo {
      margin-left: 5%; } }

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span {
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background-color 0.3s 0.3s;
    -moz-transition: background-color 0.3s 0.3s;
    transition: background-color 0.3s 0.3s; }
    .cd-nav-trigger span::before, .cd-nav-trigger span::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform;
      -webkit-transition: -webkit-transform 0.3s 0.3s;
      -moz-transition: -moz-transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s; }
    .cd-nav-trigger span::before {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .cd-nav-trigger span::after {
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  @media only screen and (min-width: 1024px) {
    .cd-nav-trigger {
      display: none; } }

.cd-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }
  .cd-main-nav li a {
    display: block;
    font-size: 1.8rem;
    padding: 1em 0;
    border-bottom-width: 1px;
    border-style: solid; }
  .cd-main-nav li:first-of-type a {
    border-top-width: 1px; }
  @media only screen and (min-width: 1024px) {
    .cd-main-nav {
      position: static;
      display: table;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      width: auto;
      height: 80px;
      background: transparent;
      padding: 0 1em;
      text-align: left; }
      .cd-main-nav li {
        display: table-cell;
        vertical-align: middle;
        padding: 0 .5em; }
      .cd-main-nav li a {
        display: inline-block;
        font-size: 1.6rem;
        padding: .4em .2em;
        border-bottom: none;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
      .cd-main-nav li:first-of-type a {
        border-top: none; } }

.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }
.nav-is-visible .cd-main-nav {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.cd-download {
  position: absolute;
  top: 50px;
  right: 0;
  height: 100%;
  width: 80px;
  background-image: url("../../assets/icon-download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  @media only screen and (min-width: 1024px) {
    .cd-download {
      top: 0; } }
  .cd-download span {
    position: absolute;
    right: 120%;
    top: 50%;
    margin-top: -20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
    font-size: 1.2rem;
    -webkit-transition: opacity .2s 0s, visibility 0s .2s;
    -moz-transition: opacity .2s 0s, visibility 0s .2s;
    transition: opacity .2s 0s, visibility 0s .2s; }
    .cd-download span::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 100%;
      height: 0;
      width: 0;
      border-width: 8px;
      border-style: solid;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent; }
  .no-touch .cd-download:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .2s 0s, visibility 0s 0s;
    -moz-transition: opacity .2s 0s, visibility 0s 0s;
    transition: opacity .2s 0s, visibility 0s 0s; }
  @media only screen and (min-width: 1024px) {
    .cd-download {
      display: block; }
      .cd-download span {
        opacity: 0;
        visibility: hidden; } }
  @media only screen and (min-width: 1600px) {
    .cd-download {
      right: 5%; } }

main {
  margin: 0 auto;
  padding: 50px 0; }
  main > h1 {
    text-align: center;
    margin: 3em 0 1em 0; }
    @media only screen and (min-width: 1024px) {
      main > h1 {
        margin: 3em 0; } }
  @media only screen and (min-width: 1024px) {
    main {
      padding-top: 80px; } }
  @media only screen and (min-width: 1600px) {
    main {
      max-width: none;
      padding: 120px 0 50px; }
      main > h1 {
        position: fixed;
        top: 0;
        right: 20%;
        height: 80px;
        line-height: 80px;
        width: 400px;
        margin: 0 0 0 -200px;
        font-size: 2.6rem;
        z-index: 20; } }

section:nth-of-type(1) h2.headline::before {
  content: '1. '; }
section:nth-of-type(1) h3.headline::before {
  content: '1.1 '; }
section:nth-of-type(2) h3.headline::before {
  content: '1.2 '; }
section:nth-of-type(3) h3.headline::before {
  content: '1.3 '; }
section:nth-of-type(4) .wrapper-touch-icon h2.headline::before {
  content: '2. '; }
section:nth-of-type(5) h2.headline::before {
  content: '3. '; }
section:nth-of-type(5) .color-list:nth-of-type(1) h3::before {
  content: '3.1 '; }
section:nth-of-type(5) .color-list:nth-of-type(2) h3::before {
  content: '3.2 '; }
section:nth-of-type(5) .color-list:nth-of-type(3) h3::before {
  content: '3.3 '; }
section:nth-of-type(5) .color-list:nth-of-type(4) h3::before {
  content: '3.4 '; }
section:nth-of-type(5) .color-list:nth-of-type(5) h3::before {
  content: '3.5 '; }
section:nth-of-type(6) h2.headline::before {
  content: '4. '; }
section:nth-of-type(7) h2.headline::before {
  content: '5. '; }
section:nth-of-type(7) .icons-list:nth-of-type(1) h3::before {
  content: '5.1 '; }
section:nth-of-type(7) .icons-list:nth-of-type(2) h3::before {
  content: '5.2 '; }
section:nth-of-type(7) .icons-list:nth-of-type(3) h3::before {
  content: '5.3 '; }
section:nth-of-type(7) .icons-list:nth-of-type(4) h3::before {
  content: '5.4 '; }
section:nth-of-type(7) .icons-list:nth-of-type(5) h3::before {
  content: '5.5 '; }
section:nth-of-type(8) h2.headline::before {
  content: '6. '; }
section:nth-of-type(8) .icons-list:nth-of-type(1) h3::before {
  content: '6.1 '; }
section:nth-of-type(8) .icons-list:nth-of-type(2) h3::before {
  content: '6.2 '; }

/* xBranding section - basic style */
.cd-branding .cd-box {
  margin-bottom: 1em; }
.cd-branding img {
  display: block;
  width: 100%; }
@media only screen and (min-width: 768px) {
  .cd-branding .cd-box:nth-of-type(2n) {
    margin-right: 0; } }

.cd-branding-icons ul li {
  display: inline-block;
  margin-right: 1em; }
  .cd-branding-icons ul li img {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); }
.cd-branding-icons ul li:nth-of-type(1) img {
  width: 90px;
  height: 90px;
  border-radius: 1em; }
.cd-branding-icons ul li:nth-of-type(2) img {
  width: 60px;
  height: 60px;
  border-radius: .6em; }
.cd-branding-icons ul li:nth-of-type(3) img {
  width: 32px;
  height: 32px;
  border-radius: .4em; }
.cd-branding-icons ul li:nth-of-type(4) img {
  width: 16px;
  height: 16px;
  border-radius: .2em; }

/* xColor section - basic style */
.cd-colors li {
  text-align: center; }
  .cd-colors li:nth-of-type(2n) {
    margin-right: 0; }
.cd-colors b {
  display: block;
  padding: .6em 0; }
.cd-colors li.cd-box-color .cd-color-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .cd-colors li.cd-box-color .cd-color-wrapper:first-of-type {
    margin-top: 0; }
  .cd-colors li.cd-box-color .cd-color-wrapper:last-of-type {
    margin-bottom: 0; }
  .cd-colors li.cd-box-color .cd-color-wrapper .color {
    padding: 1em 0; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color span {
      position: relative;
      top: 15px; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color::before {
      content: '';
      width: 80px;
      display: block;
      height: 80px;
      border-radius: 80px;
      background-position: center center;
      left: calc(50% - 40px);
      position: relative;
      display: block; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(1)::before {
      background-color: #0F181D; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(2)::before {
      background-color: #2D3F49; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(3)::before {
      background-color: #687F8C; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(4)::before {
      background-color: #BCCAD4; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(5)::before {
      background-color: #DDE7ED; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(6)::before {
      background-color: #EAF0F4; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(7)::before {
      background-color: #F5F8FA; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-1:nth-of-type(8)::before {
      background-color: #FAFBFC; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(1)::before {
      background-color: #034034; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(2)::before {
      background-color: #126F5D; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(3)::before {
      background-color: #43C6AC; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(4)::before {
      background-color: #8DE3D1; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(5)::before {
      background-color: #A9ECDF; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(6)::before {
      background-color: #C7F6EC; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(7)::before {
      background-color: #E6FFFA; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-2:nth-of-type(8)::before {
      background-color: #F5FFFD; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-3:nth-of-type(1)::before {
      background-color: #660A0B; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-3:nth-of-type(2)::before {
      background-color: #CC0001; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-3:nth-of-type(3)::before {
      background-color: #FF6162; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-3:nth-of-type(4)::before {
      background-color: #FF9E9E; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-3:nth-of-type(5)::before {
      background-color: #FFBFBF; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-3:nth-of-type(6)::before {
      background-color: #FFD9D9; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-3:nth-of-type(7)::before {
      background-color: #FFF2F2; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-4:nth-of-type(1)::before {
      background-color: #fff;
      border: 1px solid #EAF0F4; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-5:nth-of-type(1)::before {
      background-color: #FFBE5C; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-5:nth-of-type(2)::before {
      background-color: #4B579D; }
    .cd-colors li.cd-box-color .cd-color-wrapper .color.color-5:nth-of-type(3)::before {
      background-color: #EAF0F4; }

.cd-typography .cd-box,
.cd-icons .cd-box,
.cd-patterns .cd-box {
  padding: 1em;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    .cd-typography .cd-box .cd-box,
    .cd-icons .cd-box .cd-box,
    .cd-patterns .cd-box .cd-box {
      padding: 2em; } }

.cd-branding-icons, .cd-typography {
  background-color: #F5F8FA; }

.cd-patterns {
  background-color: #FAFBFC; }
  .cd-patterns .cd-box {
    background-color: #FAFBFC; }

/* xBrandingLogoWhite section - basic style */
.branding-logo .logo {
  background-color: red;
  -webkit-mask: url(../../assets/branding/logo.svg) no-repeat center;
  mask: url(../../assets/branding/logo.svg) no-repeat center; }

section {
  padding: 100px 0; }
  section:first-of-type {
    padding-top: 50px; }

/* xTypography section - basic style */
.cd-typography .cd-box .cd-box-wrapper {
  padding: 1em 0; }
  .cd-typography .cd-box .cd-box-wrapper:first-of-type {
    padding-top: 0; }
  .cd-typography .cd-box .cd-box-wrapper:last-of-type {
    padding-bottom: 0; }
  .cd-typography .cd-box .cd-box-wrapper h1 {
    font-size: 36px !important;
    font-weight: 700; }
    .cd-typography .cd-box .cd-box-wrapper h1::before {
      content: 'H1 - ';
      color: #43C6AC; }
  .cd-typography .cd-box .cd-box-wrapper h2 {
    font-size: 24px !important;
    font-weight: 700; }
    .cd-typography .cd-box .cd-box-wrapper h2::before {
      content: 'H2 - ';
      color: #43C6AC; }
  .cd-typography .cd-box .cd-box-wrapper h3 {
    font-size: 16px !important;
    font-weight: 700; }
    .cd-typography .cd-box .cd-box-wrapper h3::before {
      content: 'H3 - ';
      color: #43C6AC; }
  .cd-typography .cd-box .cd-box-wrapper h1, .cd-typography .cd-box .cd-box-wrapper h2, .cd-typography .cd-box .cd-box-wrapper h3 {
    margin: 0 0 .4em; }
  .cd-typography .cd-box .cd-box-wrapper p {
    margin: 1em 0; }
    .cd-typography .cd-box .cd-box-wrapper p.regular {
      font-weight: 400; }
    .cd-typography .cd-box .cd-box-wrapper p.bold {
      font-weight: 700; }
    .cd-typography .cd-box .cd-box-wrapper p.medium {
      font-weight: 500; }
    .cd-typography .cd-box .cd-box-wrapper p.body1 {
      font-size: 16px;
      line-height: 22px; }
    .cd-typography .cd-box .cd-box-wrapper p.body2 {
      font-size: 14px;
      line-height: 20px; }
    .cd-typography .cd-box .cd-box-wrapper p.body3 {
      font-size: 12px;
      line-height: 18px; }

/* xIcons section - basic style */
.cd-icons {
  /* general */
  /* benefits */
  /* social_media */
  /* filled */
  /* menu */ }
  .cd-icons li {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1em; }
  .cd-icons .cd-icon-general-1 {
    background-image: url("../../assets/icons/general/activity.svg"); }
  .cd-icons .cd-icon-general-2 {
    background-image: url("../../assets/icons/general/alert-circle.svg"); }
  .cd-icons .cd-icon-general-3 {
    background-image: url("../../assets/icons/general/alert-octagon.svg"); }
  .cd-icons .cd-icon-general-4 {
    background-image: url("../../assets/icons/general/alert-triangle.svg"); }
  .cd-icons .cd-icon-general-5 {
    background-image: url("../../assets/icons/general/archive.svg"); }
  .cd-icons .cd-icon-general-6 {
    background-image: url("../../assets/icons/general/arrow-down.svg"); }
  .cd-icons .cd-icon-general-7 {
    background-image: url("../../assets/icons/general/arrow-down-circle.svg"); }
  .cd-icons .cd-icon-general-8 {
    background-image: url("../../assets/icons/general/arrow-left.svg"); }
  .cd-icons .cd-icon-general-9 {
    background-image: url("../../assets/icons/general/arrow-left-circle.svg"); }
  .cd-icons .cd-icon-general-10 {
    background-image: url("../../assets/icons/general/arrow-right.svg"); }
  .cd-icons .cd-icon-general-11 {
    background-image: url("../../assets/icons/general/arrow-right-circle.svg"); }
  .cd-icons .cd-icon-general-12 {
    background-image: url("../../assets/icons/general/arrow-up.svg"); }
  .cd-icons .cd-icon-general-13 {
    background-image: url("../../assets/icons/general/arrow-up-circle.svg"); }
  .cd-icons .cd-icon-general-14 {
    background-image: url("../../assets/icons/general/at-sign.svg"); }
  .cd-icons .cd-icon-general-15 {
    background-image: url("../../assets/icons/general/award.svg"); }
  .cd-icons .cd-icon-general-16 {
    background-image: url("../../assets/icons/general/bar-chart.svg"); }
  .cd-icons .cd-icon-general-17 {
    background-image: url("../../assets/icons/general/bar-chart.svg"); }
  .cd-icons .cd-icon-general-18 {
    background-image: url("../../assets/icons/general/bell.svg"); }
  .cd-icons .cd-icon-general-19 {
    background-image: url("../../assets/icons/general/bell-off.svg"); }
  .cd-icons .cd-icon-general-20 {
    background-image: url("../../assets/icons/general/book.svg"); }
  .cd-icons .cd-icon-general-21 {
    background-image: url("../../assets/icons/general/book-open.svg"); }
  .cd-icons .cd-icon-general-22 {
    background-image: url("../../assets/icons/general/bookmark.svg"); }
  .cd-icons .cd-icon-general-23 {
    background-image: url("../../assets/icons/general/briefcase.svg"); }
  .cd-icons .cd-icon-general-24 {
    background-image: url("../../assets/icons/general/calendar.svg"); }
  .cd-icons .cd-icon-general-25 {
    background-image: url("../../assets/icons/general/camera.svg"); }
  .cd-icons .cd-icon-general-26 {
    background-image: url("../../assets/icons/general/check.svg"); }
  .cd-icons .cd-icon-general-27 {
    background-image: url("../../assets/icons/general/check-circle.svg"); }
  .cd-icons .cd-icon-general-28 {
    background-image: url("../../assets/icons/general/check-square.svg"); }
  .cd-icons .cd-icon-general-29 {
    background-image: url("../../assets/icons/general/chevron-down.svg"); }
  .cd-icons .cd-icon-general-30 {
    background-image: url("../../assets/icons/general/chevron-left.svg"); }
  .cd-icons .cd-icon-general-31 {
    background-image: url("../../assets/icons/general/chevrons-right.svg"); }
  .cd-icons .cd-icon-general-32 {
    background-image: url("../../assets/icons/general/chevrons-up.svg"); }
  .cd-icons .cd-icon-general-33 {
    background-image: url("../../assets/icons/general/chevrons-down.svg"); }
  .cd-icons .cd-icon-general-34 {
    background-image: url("../../assets/icons/general/chevrons-left.svg"); }
  .cd-icons .cd-icon-general-35 {
    background-image: url("../../assets/icons/general/chevrons-right.svg"); }
  .cd-icons .cd-icon-general-36 {
    background-image: url("../../assets/icons/general/chevrons-up.svg"); }
  .cd-icons .cd-icon-general-37 {
    background-image: url("../../assets/icons/general/clipboard.svg"); }
  .cd-icons .cd-icon-general-38 {
    background-image: url("../../assets/icons/general/clock.svg"); }
  .cd-icons .cd-icon-general-39 {
    background-image: url("../../assets/icons/general/coffee.svg"); }
  .cd-icons .cd-icon-general-40 {
    background-image: url("../../assets/icons/general/compass.svg"); }
  .cd-icons .cd-icon-general-41 {
    background-image: url("../../assets/icons/general/company.svg"); }
  .cd-icons .cd-icon-general-42 {
    background-image: url("../../assets/icons/general/copy.svg"); }
  .cd-icons .cd-icon-general-43 {
    background-image: url("../../assets/icons/general/download.svg"); }
  .cd-icons .cd-icon-general-44 {
    background-image: url("../../assets/icons/general/edit.svg"); }
  .cd-icons .cd-icon-general-45 {
    background-image: url("../../assets/icons/general/edit-2.svg"); }
  .cd-icons .cd-icon-general-46 {
    background-image: url("../../assets/icons/general/euro.svg"); }
  .cd-icons .cd-icon-general-47 {
    background-image: url("../../assets/icons/general/external-link.svg"); }
  .cd-icons .cd-icon-general-48 {
    background-image: url("../../assets/icons/general/eye.svg"); }
  .cd-icons .cd-icon-general-49 {
    background-image: url("../../assets/icons/general/eye-off.svg"); }
  .cd-icons .cd-icon-general-50 {
    background-image: url("../../assets/icons/general/file.svg"); }
  .cd-icons .cd-icon-general-51 {
    background-image: url("../../assets/icons/general/filter.svg"); }
  .cd-icons .cd-icon-general-52 {
    background-image: url("../../assets/icons/general/flag.svg"); }
  .cd-icons .cd-icon-general-53 {
    background-image: url("../../assets/icons/general/frown.svg"); }
  .cd-icons .cd-icon-general-54 {
    background-image: url("../../assets/icons/general/graduation.svg"); }
  .cd-icons .cd-icon-general-55 {
    background-image: url("../../assets/icons/general/grid.svg"); }
  .cd-icons .cd-icon-general-56 {
    background-image: url("../../assets/icons/general/hash.svg"); }
  .cd-icons .cd-icon-general-57 {
    background-image: url("../../assets/icons/general/heart.svg"); }
  .cd-icons .cd-icon-general-58 {
    background-image: url("../../assets/icons/general/help-circle.svg"); }
  .cd-icons .cd-icon-general-59 {
    background-image: url("../../assets/icons/general/home.svg"); }
  .cd-icons .cd-icon-general-50 {
    background-image: url("../../assets/icons/general/image.svg"); }
  .cd-icons .cd-icon-general-51 {
    background-image: url("../../assets/icons/general/inbox.svg"); }
  .cd-icons .cd-icon-general-52 {
    background-image: url("../../assets/icons/general/info.svg"); }
  .cd-icons .cd-icon-general-53 {
    background-image: url("../../assets/icons/general/link.svg"); }
  .cd-icons .cd-icon-general-54 {
    background-image: url("../../assets/icons/general/list.svg"); }
  .cd-icons .cd-icon-general-55 {
    background-image: url("../../assets/icons/general/lock.svg"); }
  .cd-icons .cd-icon-general-56 {
    background-image: url("../../assets/icons/general/log-in.svg"); }
  .cd-icons .cd-icon-general-57 {
    background-image: url("../../assets/icons/general/log-out.svg"); }
  .cd-icons .cd-icon-general-58 {
    background-image: url("../../assets/icons/general/mail.svg"); }
  .cd-icons .cd-icon-general-59 {
    background-image: url("../../assets/icons/general/map.svg"); }
  .cd-icons .cd-icon-general-50 {
    background-image: url("../../assets/icons/general/map-pin.svg"); }
  .cd-icons .cd-icon-general-51 {
    background-image: url("../../assets/icons/general/maximize-2.svg"); }
  .cd-icons .cd-icon-general-52 {
    background-image: url("../../assets/icons/general/meh.svg"); }
  .cd-icons .cd-icon-general-53 {
    background-image: url("../../assets/icons/general/menu.svg"); }
  .cd-icons .cd-icon-general-54 {
    background-image: url("../../assets/icons/general/message-circle.svg"); }
  .cd-icons .cd-icon-general-55 {
    background-image: url("../../assets/icons/general/message-square.svg"); }
  .cd-icons .cd-icon-general-56 {
    background-image: url("../../assets/icons/general/minimize-2.svg"); }
  .cd-icons .cd-icon-general-57 {
    background-image: url("../../assets/icons/general/minus.svg"); }
  .cd-icons .cd-icon-general-58 {
    background-image: url("../../assets/icons/general/minus-circle.svg"); }
  .cd-icons .cd-icon-general-59 {
    background-image: url("../../assets/icons/general/minus-square.svg"); }
  .cd-icons .cd-icon-general-60 {
    background-image: url("../../assets/icons/general/monitor.svg"); }
  .cd-icons .cd-icon-general-61 {
    background-image: url("../../assets/icons/general/more-horizontal.svg"); }
  .cd-icons .cd-icon-general-62 {
    background-image: url("../../assets/icons/general/more-vertical.svg"); }
  .cd-icons .cd-icon-general-63 {
    background-image: url("../../assets/icons/general/navigation.svg"); }
  .cd-icons .cd-icon-general-64 {
    background-image: url("../../assets/icons/general/paperclip.svg"); }
  .cd-icons .cd-icon-general-65 {
    background-image: url("../../assets/icons/general/percent.svg"); }
  .cd-icons .cd-icon-general-66 {
    background-image: url("../../assets/icons/general/phone.svg"); }
  .cd-icons .cd-icon-general-67 {
    background-image: url("../../assets/icons/general/pie-chart.svg"); }
  .cd-icons .cd-icon-general-68 {
    background-image: url("../../assets/icons/general/plus.svg"); }
  .cd-icons .cd-icon-general-69 {
    background-image: url("../../assets/icons/general/plus-circle.svg"); }
  .cd-icons .cd-icon-general-70 {
    background-image: url("../../assets/icons/general/plus-square.svg"); }
  .cd-icons .cd-icon-general-71 {
    background-image: url("../../assets/icons/general/printer.svg"); }
  .cd-icons .cd-icon-general-72 {
    background-image: url("../../assets/icons/general/refresh-cw.svg"); }
  .cd-icons .cd-icon-general-73 {
    background-image: url("../../assets/icons/general/repeat.svg"); }
  .cd-icons .cd-icon-general-74 {
    background-image: url("../../assets/icons/general/save.svg"); }
  .cd-icons .cd-icon-general-75 {
    background-image: url("../../assets/icons/general/search.svg"); }
  .cd-icons .cd-icon-general-76 {
    background-image: url("../../assets/icons/general/send.svg"); }
  .cd-icons .cd-icon-general-77 {
    background-image: url("../../assets/icons/general/settings.svg"); }
  .cd-icons .cd-icon-general-78 {
    background-image: url("../../assets/icons/general/share.svg"); }
  .cd-icons .cd-icon-general-79 {
    background-image: url("../../assets/icons/general/slash.svg"); }
  .cd-icons .cd-icon-general-80 {
    background-image: url("../../assets/icons/general/sliders.svg"); }
  .cd-icons .cd-icon-general-81 {
    background-image: url("../../assets/icons/general/smartphone.svg"); }
  .cd-icons .cd-icon-general-82 {
    background-image: url("../../assets/icons/general/smile.svg"); }
  .cd-icons .cd-icon-general-83 {
    background-image: url("../../assets/icons/general/star.svg"); }
  .cd-icons .cd-icon-general-84 {
    background-image: url("../../assets/icons/general/tag.svg"); }
  .cd-icons .cd-icon-general-85 {
    background-image: url("../../assets/icons/general/target.svg"); }
  .cd-icons .cd-icon-general-86 {
    background-image: url("../../assets/icons/general/thumbs-down.svg"); }
  .cd-icons .cd-icon-general-87 {
    background-image: url("../../assets/icons/general/thumbs-up.svg"); }
  .cd-icons .cd-icon-general-88 {
    background-image: url("../../assets/icons/general/trash-2.svg"); }
  .cd-icons .cd-icon-general-89 {
    background-image: url("../../assets/icons/general/unlock.svg"); }
  .cd-icons .cd-icon-general-90 {
    background-image: url("../../assets/icons/general/upload.svg"); }
  .cd-icons .cd-icon-general-91 {
    background-image: url("../../assets/icons/general/user-check.svg"); }
  .cd-icons .cd-icon-general-92 {
    background-image: url("../../assets/icons/general/user-minus.svg"); }
  .cd-icons .cd-icon-general-93 {
    background-image: url("../../assets/icons/general/user-plus.svg"); }
  .cd-icons .cd-icon-general-94 {
    background-image: url("../../assets/icons/general/user-x.svg"); }
  .cd-icons .cd-icon-general-95 {
    background-image: url("../../assets/icons/general/user.svg"); }
  .cd-icons .cd-icon-general-96 {
    background-image: url("../../assets/icons/general/users.svg"); }
  .cd-icons .cd-icon-general-97 {
    background-image: url("../../assets/icons/general/video.svg"); }
  .cd-icons .cd-icon-general-98 {
    background-image: url("../../assets/icons/general/x-circle.svg"); }
  .cd-icons .cd-icon-general-99 {
    background-image: url("../../assets/icons/general/x-octagon.svg"); }
  .cd-icons .cd-icon-general-100 {
    background-image: url("../../assets/icons/general/x-square.svg"); }
  .cd-icons .cd-icon-general-101 {
    background-image: url("../../assets/icons/general/x.svg"); }
  .cd-icons .cd-icon-general-102 {
    background-image: url("../../assets/icons/general/zap.svg"); }
  .cd-icons .cd-icon-general-103 {
    background-image: url("../../assets/icons/general/zoom-in.svg"); }
  .cd-icons .cd-icon-general-104 {
    background-image: url("../../assets/icons/general/zoom-out.svg"); }
  .cd-icons .cd-icon-general-105 {
    background-image: url("../../assets/icons/general/briefcase.svg"); }
  .cd-icons .cd-icon-benefits-1 {
    background-image: url("../../assets/icons/benefits/mentoring.svg"); }
  .cd-icons .cd-icon-benefits-2 {
    background-image: url("../../assets/icons/benefits/kennenlernen_verschiedener_bereiche.svg"); }
  .cd-icons .cd-icon-benefits-3 {
    background-image: url("../../assets/icons/benefits/weiterbildungsmassnahmen.svg"); }
  .cd-icons .cd-icon-benefits-4 {
    background-image: url("../../assets/icons/benefits/verantwortung.svg"); }
  .cd-icons .cd-icon-benefits-5 {
    background-image: url("../../assets/icons/benefits/barrierefreiheit.svg"); }
  .cd-icons .cd-icon-benefits-6 {
    background-image: url("../../assets/icons/benefits/kostenlose_getraenke.svg"); }
  .cd-icons .cd-icon-benefits-7 {
    background-image: url("../../assets/icons/benefits/praktikantenaustausch.svg"); }
  .cd-icons .cd-icon-benefits-8 {
    background-image: url("../../assets/icons/benefits/zuschuss_fuer_oeffentliche_verkehrsmittel.svg"); }
  .cd-icons .cd-icon-benefits-9 {
    background-image: url("../../assets/icons/benefits/betriebssport.svg"); }
  .cd-icons .cd-icon-benefits-10 {
    background-image: url("../../assets/icons/benefits/anschlusstaetigkeit_moeglich.svg"); }
  .cd-icons .cd-icon-benefits-11 {
    background-image: url("../../assets/icons/benefits/networking.svg"); }
  .cd-icons .cd-icon-benefits-12 {
    background-image: url("../../assets/icons/benefits/flexible_arbeitszeiten.svg"); }
  .cd-icons .cd-icon-benefits-13 {
    background-image: url("../../assets/icons/benefits/kostenlose_verpflegung.svg"); }
  .cd-icons .cd-icon-benefits-14 {
    background-image: url("../../assets/icons/benefits/mitarbeiterevents.svg"); }
  .cd-icons .cd-icon-benefits-15 {
    background-image: url("../../assets/icons/benefits/mitarbeiterrabatte.svg"); }
  .cd-icons .cd-icon-benefits-16 {
    background-image: url("../../assets/icons/benefits/individuelle_gestaltung.svg"); }
  .cd-icons .cd-icon-benefits-17 {
    background-image: url("../../assets/icons/benefits/kantine.svg"); }
  .cd-icons .cd-icon-benefits-18 {
    background-image: url("../../assets/icons/benefits/parkplatz.svg"); }
  .cd-icons .cd-icon-benefits-19 {
    background-image: url("../../assets/icons/benefits/gute_anbindung.svg"); }
  .cd-icons .cd-icon-benefits-20 {
    background-image: url("../../assets/icons/benefits/unterstuetzung_bei_der_wohnungssuche.svg"); }
  .cd-icons .cd-icon-benefits-21 {
    background-image: url("../../assets/icons/benefits/wohnung_wird_vom_unternehmen_gestellt.svg"); }
  .cd-icons .cd-icon-benefits-22 {
    background-image: url("../../assets/icons/benefits/eigener_arbeitsplatz.svg"); }
  .cd-icons .cd-icon-benefits-23 {
    background-image: url("../../assets/icons/benefits/internetnutzung.svg"); }
  .cd-icons .cd-icon-benefits-24 {
    background-image: url("../../assets/icons/benefits/einfuehrungsveranstaltung.svg"); }
  .cd-icons .cd-icon-benefits-25 {
    background-image: url("../../assets/icons/benefits/auslandsaufenthalt.svg"); }
  .cd-icons .cd-icon-benefits-26 {
    background-image: url("../../assets/icons/benefits/mitarbeiterlaptop.svg"); }
  .cd-icons .cd-icon-benefits-27 {
    background-image: url("../../assets/icons/benefits/homeoffice-moeglichkeit.svg"); }
  .cd-icons .cd-icon-benefits-28 {
    background-image: url("../../assets/icons/benefits/firmenwagen.svg"); }
  .cd-icons .cd-icon-benefits-29 {
    background-image: url("../../assets/icons/benefits/trainee-alumni-netzwerk.svg"); }
  .cd-icons .cd-icon-benefits-30 {
    background-image: url("../../assets/icons/benefits/mitarbeiterticket.svg"); }
  .cd-icons .cd-icon-benefits-31 {
    background-image: url("../../assets/icons/benefits/mitarbeiterbeteiligung.svg"); }
  .cd-icons .cd-icon-benefits-32 {
    background-image: url("../../assets/icons/benefits/uebernahmegarantie.svg"); }
  .cd-icons .cd-icon-benefits-33 {
    background-image: url("../../assets/icons/benefits/mitarbeiterhandy.svg"); }
  .cd-icons .cd-icon-benefits-34 {
    background-image: url("../../assets/icons/benefits/unbefristeter_arbeitsvertrag.svg"); }
  .cd-icons .cd-icon-benefits-35 {
    background-image: url("../../assets/icons/benefits/projektarbeit.svg"); }
  .cd-icons .cd-icon-benefits-36 {
    background-image: url("../../assets/icons/benefits/betriebliche_altersvorsorge.svg"); }
  .cd-icons .cd-icon-benefits-37 {
    background-image: url("../../assets/icons/benefits/kinderbetreuung.svg"); }
  .cd-icons .cd-icon-benefits-38 {
    background-image: url("../../assets/icons/benefits/ueberdurchschnittlicher_verdienst.svg"); }
  .cd-icons .cd-icon-benefits-39 {
    background-image: url("../../assets/icons/benefits/gesundheitliche_massnahmen.svg"); }
  .cd-icons .cd-icon-some-1 {
    background-image: url("../../assets/icons/social_media/facebook.svg"); }
  .cd-icons .cd-icon-some-2 {
    background-image: url("../../assets/icons/social_media/instagram.svg"); }
  .cd-icons .cd-icon-some-3 {
    background-image: url("../../assets/icons/social_media/twitter.svg"); }
  .cd-icons .cd-icon-some-4 {
    background-image: url("../../assets/icons/social_media/youtube.svg"); }
  .cd-icons .cd-icon-some-5 {
    background-image: url("../../assets/icons/social_media/xing.svg"); }
  .cd-icons .cd-icon-some-6 {
    background-image: url("../../assets/icons/social_media/linkedin.svg"); }
  .cd-icons .cd-icon-filled-1 {
    background-image: url("../../assets/icons/filled/bubble-plus.svg"); }
  .cd-icons .cd-icon-filled-2 {
    background-image: url("../../assets/icons/filled/bubble-minus.svg"); }
  .cd-icons .cd-menu-1 {
    background-image: url("../../assets/menu/icon-menu-staedte.svg"); }
  .cd-icons .cd-menu-2 {
    background-image: url("../../assets/menu/icon-menu-bundeslaender.svg"); }
  .cd-icons .cd-menu-3 {
    background-image: url("../../assets/menu/icon-menu-bereiche.svg"); }
  .cd-icons .cd-menu-4 {
    background-image: url("../../assets/menu/icon-menu-unternehmen.svg"); }
  .cd-icons .cd-menu-5 {
    background-image: url("../../assets/menu/icon-menu-branchen.svg"); }
  .cd-icons .cd-menu-6 {
    background-image: url("../../assets/menu/icon-menu-events.svg"); }
  .cd-icons .cd-menu-7 {
    background-image: url("../../assets/menu/icon-menu-einstiegsprogramme.svg"); }
  .cd-icons .cd-menu-8 {
    background-image: url("../../assets/menu/icon-menu-bewerbung.svg"); }
  .cd-icons .cd-menu-9 {
    background-image: url("../../assets/menu/icon-menu-volontariat.svg"); }
  .cd-icons .cd-menu-10 {
    background-image: url("../../assets/menu/icon-menu-gehalt.svg"); }
  .cd-icons .cd-menu-11 {
    background-image: url("../../assets/menu/icon-menu-checklist.svg"); }

.cd-patterns .cd-box {
  border: 0px solid #fff;
  box-shadow: none !important;
  padding: 0; }
  .cd-patterns .cd-box li figure img {
    border: 1px solid #EAF0F4;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .cd-patterns .cd-box li figure figcaption {
    padding-top: 1em; }
  .cd-patterns .cd-box li.cd-pattern-9 figure img {
    border: 0px solid #fff;
    box-shadow: none;
    height: 156px; }
    @media only screen and (min-width: 1024px) {
      .cd-patterns .cd-box li.cd-pattern-9 figure img {
        height: 189px; } }

#impress section, #data-secure section {
  padding: 20px 0; }
  #impress section p + p, #data-secure section p + p {
    margin: 10px 0; }
  #impress section a, #data-secure section a {
    color: #43C6AC;
    transition: color 0.5s ease; }
    #impress section a:hover, #data-secure section a:hover {
      text-decoration: none;
      color: #126F5D; }
  #impress section h2, #impress section h3, #data-secure section h2, #data-secure section h3 {
    margin-bottom: 10px;
    line-height: 2.5rem; }
  #impress section h4, #data-secure section h4 {
    font-weight: bold;
    margin: 30px 0 10px 0;
    line-height: 2.5rem; }
  #impress section ul, #data-secure section ul {
    margin-left: 20px; }
    #impress section ul li, #data-secure section ul li {
      margin: 15px 0; }

/*# sourceMappingURL=style-guide.css.map */
