@import "../bourbon/bourbon"; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

// Google Fonts Inter

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

// color palette - these colors will be the color swatches of the Colors section

$color-mint: #43C6AC; // Mint
$color-mint-lighten1: #8DE3D1; // Mint light *1
$color-mint-lighten2: #A9ECDF; // Mint light *2
$color-mint-lighten3: #C7F6EC; // Mint light *3
$color-mint-lighten4: #E6FFFA; // Mint light *4
$color-mint-lighten5: #F5FFFD; // Mint light *5

$color-mint-darken1: #126F5D; // Mint dark *1
$color-mint-darken2: #034034; // Mint dark *2

$color-ocean: #687F8C; // Ocean
$color-ocean-lighten1: #BCCAD4; // Ocean light *1
$color-ocean-lighten2: #DDE7ED; // Ocean light *2
$color-ocean-lighten3: #EAF0F4; // Ocean light *3
$color-ocean-lighten4: #F5F8FA; // Ocean light *4
$color-ocean-lighten5: #FAFBFC; // Ocean light *5

$color-ocean-darken1: #2D3F49; // Ocean dark *1
$color-ocean-darken2: #0F181D; // Ocean dark *2

$color-coral: #FF6162; // Coral
$color-coral-lighten1: #FF9E9E; // Coral light *1
$color-coral-lighten2: #FFBFBF; // Coral light *2
$color-coral-lighten3: #FFD9D9; // Coral light *3
$color-coral-lighten4: #FFF2F2; // Coral light *4

$color-coral-darken1: #CC0001; // Coral dark *1
$color-coral-darken2: #660A0B; // Coral dark *2

$color-additional-1: #FFBE5C; // Additional 1 - yellow
$color-additional-2: #4B579D; // Additional 2 - purple
$color-additional-3: #EAF0F4; // Additional 3 - light grey

$color-white: #fff; // White

$color-1: $color-mint; // Action color
$color-2: $color-ocean-darken2;
$color-3: $color-coral;
$color-4: $color-additional-3;
$color-5: $color-white;

// additional colors

$success: $color-mint;
$alert: $color-coral;

// text colors

$color-text: $color-ocean-darken1;

// fonts

$primary-font: 'Inter', sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	background-color: $color-5;
}

.bg-dark {
	background-color: $color-ocean-darken1;
	color: $color-5 !important;

	h1, h2, h3 {
		color: $color-5;

		&:before {
			color: $color-5;
		}
	}
}

.logo-dark {
	fill: $color-ocean-darken1
}

/* -------------------------------- 

xcdBox

-------------------------------- */

.cd-box {
	border: 1px solid $color-4;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 1px;

	@include MQ(L) {
		padding: 2em;
	}
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background-color: $color-2;
}

.cd-logo {
	background-color: $color-ocean-darken1;
	width: 120px;

	@include MQ(L) {
		width: 180px;
	}
}

.cd-main-nav {
	background: $color-2;

	li a {
		color: $color-5;
		border-color: lighten($color-2, 5%);
	}

	@include MQ(S) {
		li a {
			color: lighten($color-2, 40%);

			&.selected {
				color: $color-5;
				box-shadow: 0 2px 0 $color-1;
			}

			.no-touch &:hover {
				color: $color-5;
			}
		}
	}
}

.cd-nav-trigger span {
	background-color: $color-5;

	&::before,
	&::after {
		background-color: $color-5;
	}
}

.nav-is-visible .cd-nav-trigger span {
	background-color: rgba($color-5, 0);

	&::before, &::after {
		background-color: rgba($color-5, 1);
	}
}

.nav-is-visible .cd-main-nav {
	z-index: 100;
	overflow: scroll;

	li {
		a {
			padding: 35px 0;
		}
	}
}

.cd-nav-trigger {
	z-index: 101;
}

.cd-download {
	background-color: lighten($color-2, 10%);

	.no-touch &:hover {
		background-color: lighten($color-2, 15%);
	}

	span {
		background: $color-1;
		color: $color-5;

		&::before {
			/* right arrow color */
			border-color: $color-1;
		}
	}
}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-2;

	@include MQ(L) {
		color: $color-5;
	}
}

/* -------------------------------- 

xTypography 

-------------------------------- */

h1, h2, h3 {
	font-family: $primary-font;
	color: $color-2;
}

h1 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2, h3 {
	font-weight: bold;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.8rem;
		line-height: 2.5rem;
	}
}

.headline::before {
	color: darken($color-additional-3, 15%);
}

p, li {
	font-size: 16px;
	line-height: 1.75em;
	color: $color-text;

	a {
		color: $color-1;
		transition: color 0.5s ease;

		&:hover {
			text-decoration: none;
			color: $color-mint-darken1;
		}
	}
}

p::-moz-selection, span::-moz-selection, b::-moz-selection, li::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection { background-color: $color-1; color: $white}
p::selection, span::selection, b::selection, li::selection, h1::selection, h2::selection, h3::selection, h4::selection  { background-color: $color-1; color: $white}

/* -------------------------------- 

xIcons 

-------------------------------- */

.cd-icons li {
	/* icons size */
	width: 32px;
	height: 32px;
}

.cd-menu-list li {
	/* icons size */
	width: 35px;
	height: 35px;
	background-size: cover;
}

/* --------------------------------

xPatterns Menu

-------------------------------- */

.cd-pattern ul {
	list-style: none;
}

/* --------------------------------

xFooter

-------------------------------- */

footer {
  margin-top: 100px;

	.wrapper-footer {
		padding-top: 50px;
		border-top: 1px solid $color-ocean-lighten3;
	}

	p {
		font-weight: 500;

		span.hearts {
			color: $color-mint;
			animation: pulse 1s linear infinite;

		}
	}

	.footer-nav {
		ul {
			li {

				&:first-of-type {
					margin-right: 15px;
				}

				a {
					&.active {
						font-weight: bold;
					}
				}
			}
		}
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.3);
		transform: scale(0.3);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@import '../partials/basic-style';
@import '../partials/impress-data-secure';